﻿<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="~/Site.Master" CodeBehind="VehicleDisplay.aspx.cs" Inherits="CJI.AgileDealer.Web.WebForm.Views.UseCars.VehicleDisplay" %>
<%@ Import Namespace="CJI.AgileDealer.Web.WebForm.Resources.Views.UseCars" %>
<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
    <div class="container">
        <h1><%=VehicleDisplay.Container_H1 %></h1>
    </div>
</asp:Content>
