﻿// #option-current-special {display:none;}  // disables option to flag current special
#option-lifted-truck {display: none;} // disables option to flag lifted trucks
#accordion-lift {display: none;} // disables lifted trucks from the search menu
// .vehicleCardVin {display: none;}  Hides the Vin .vehicleCardStockNum hides Stock #s
// #personalizationLogo {display: block !important;} // enables middle logo on mobile
.vehicleCardDriveTrain {display: none;}

/* Variable Declarations */
$alpha05: .05;
$alpha1: .1;
$alpha2: .2;
$alpha3: .3;
$alpha4: .4;
$alpha5: .5;
$alpha6: .6;
$alpha7: .7;
$alpha8: .8;
$alpha9: .9;
$alpha10: 1.0;

$black: #000;
$white: #FFF;

/* Color Formatting */
$color-cta: #068cb3;
$color-cta: #ff9200;
/* Breast Cancer Awareness Month Color */
//$color-cta: #EA80B0;
$color-primary: #057A9C;
$color-secondary: #FFF;
$color-tertiary: #464646;
$color-background: #EFEFEF;
$color-background-two: #979190;
$color-accent-dark: #102b4e;
/* End Color Formatting */


html {
   // background-color: rgba($color-cta, $alpha1);
   background-color: $color-background;
}

.primaryBg {
    background-color: $color-primary;
    color: #efefef;
}

.bg-white {
    background-color: #fff;
    background: #fff;
}

.primaryLink, .primaryColor {
    color: $color-primary;
    text-decoration: none !important;
    transition: all 0.15s linear;
 }
 
.primaryLink:hover, .primaryLink:focus {
    color: $color-cta;
}

/* Dark Phone Override*/
.primaryLink.phone, .ctaLink.map {
    color: rgba($color-cta, $alpha9);
    text-shadow: 1px 1px rgba($color-cta, $alpha2);
}
.primaryLink.phone:hover, .ctaLink.map:hover {
    color: rgba($color-primary, $alpha9);
    text-shadow: 1px 1px rgba($color-cta, $alpha2);
}

.ctaBg {
    background-color: $color-cta;
    color: $white;
}

 .ctaLink, .ctaColor  {
    color: $color-primary;
    text-decoration: none !important;
    transition: all 0.15s linear;
}

.ctaLink:hover, .ctaLink:focus {
    color: $color-cta;
}

.btn-primary {
    background-color: $color-primary;
    border: none;
    box-shadow: 2px 2px 3px -3px rgba($color-cta, $alpha7) inset;
    /*text-shadow: 1px 1px rgba($black, $alpha5);*/
}

.btn-primary:hover, .btn-primary:focus {
    background-color: $color-cta;
    // background-color: #282828 !important;
    // border-color: #282828 !important;
    // background-image: linear-gradient(to right, black, transparent 20%, transparent 80%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(to bottom, #080808, #202020);
    // background-size: 100% 100%, 10px 10px, 10px 10px, 10px 5px;
    // background-position: 0px 0px, 0px 0px, 5px 5px, 0px 0px;
}

.btn-primary:active:focus  {
    background-color: $color-tertiary;
}

.secondaryBg {
    background-color: $color-secondary;
    color: $color-primary;
}

/* Iron Blog Color Integration */
.btn-cta-ford, .iron-blog-div-secondary-cta {
    background-color: $color-cta;
}

.btn-cta-ford:hover, .iron-blog-div-secondary-cta:hover {
    background-color: $color-primary;
}
.btn-def-ford {
    color: $color-primary;
}

.btn-def-ford:hover {
    background-color: $color-primary;
}

#blog-page .panel-heading {
    background-color: $color-primary !important;
}

.secondaryColor, .secondaryLink {
    color: $color-secondary;
    text-decoration: none !important;
}

.secondaryLink:hover {
    color: $color-cta;    
}

.tertiaryBg {
    background-color: $color-tertiary;
    color: $white;
}

.tertiaryColor, .tertiaryLink {
    color: $color-tertiary;
    text-decoration: none !important;
}

.tertiaryLink:hover {
    color: $color-cta;    
}
    
/* Allows for use on dark background */
.darkColor, .darkLink {
    color: $color-background;
    text-decoration: none !important;
}

.darkLink:hover {
    color: $color-cta;
}

/* Inventory Skinning */
#new-vehicle .panel-heading a {
    color: $color-primary;
}

#new-vehicle .panel-heading:hover a {
    color: $color-cta;
}

.list-group-item.active {
    background-color: $color-background-two;
    border-color: $color-background-two;
    color: $white;
   // background-color: #282828 !important;
   // background-image: linear-gradient(to right, black, transparent 20%, transparent 80%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(to bottom, #080808, #202020);
   // background-size: 100% 100%, 10px 10px, 10px 10px, 10px 5px;
   // background-position: 0px 0px, 0px 0px, 5px 5px, 0px 0px;
}

.list-group-item.active .badge {
    background-color: $white;
    color: $color-cta;
}

.list-group-item.active:hover, .list-group-item:hover {
    background-color: $color-primary;
    border-color: $color-tertiary;
}

.pagination > .active > a, .pagination > .active > a:hover {
    background-color: $color-background-two;
    border-color: $color-background-two;
   // background-color: #282828 !important;
   // background-image: linear-gradient(to right, black, transparent 20%, transparent 80%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(to bottom, #080808, #202020);
   // background-size: 100% 100%, 10px 10px, 10px 10px, 10px 5px;
   // background-position: 0px 0px, 0px 0px, 5px 5px, 0px 0px;
}

.pagination>li>a {
    color: $color-background-two;
    border: none;
}

.pagination>li>a:hover {
    background-color: $color-primary;
    color: $white;
}

.vehicleCardTitle {
    color: $color-primary;
}
.vehicleCardTitle:hover {
    color: $color-cta;
}

.rebate,.lablTooltip {
    color: $color-cta !important;
}

/* All Forms */
.form-control:focus {
    border-color: $color-cta;
    -moz-box-shadow: inset 0 1px 1px rgba($black, $alpha3), 0 0 8px rgba($color-cta, $alpha6);
    -webkit-box-shadow: inset 0 1px 1px rgba($black, $alpha3), 0 0 8px rgba($color-cta, $alpha6);
    box-shadow: inset 0 1px 1px rgba($black, $alpha3), 0 0 8px rgba($color-cta, $alpha6);
}

/* VCP Pages */
.vcp .vcp-cta {
    background-color: $color-primary;
}

.vcp div.vcp-cta:hover, div.vcp-default:hover {
    background-color: $color-cta;
}

.vcp-certifed-nav {
    border-right: 1px solid rgba($color-primary, $alpha3);
}

.vcp-default {
    color: $color-primary;
}

.blog-card-title {
    background-color: $color-primary;
}

.vcp .vcp-default {
    height: 50px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

/* Department Pages */
#vehicle-department-subnav {
    background-color: $color-primary;
}

/* Staff Page */
#staff .nav-tabs>li {
    background: $color-primary;
}

#staff .nav-tabs>li.active a {
    color: $color-primary !important;
}

#staff-tabs.nav.nav-tabs::before {
    background-color: inherit;
}

/* 404 Page */
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: $white;
    background-color: $color-cta;
}

/* Service Forms */
#scheduleServiceCtr .form-title, #instantlyCtr .form-title {
    margin: 0;
    background-color: $color-primary;
}
/* VDP Certified Logo */
.cpo-logo {
    width: 93%;
    margin: 0 20% 0 20%;
}
// removes horizontal scroll on read more articles from blog
.vcp-article-card > .desc > p.blog-card-summary {
    overflow-x: hidden;
}

/* 50% width horizontal aligned */
.img-50-responsive {
    display: block;
    margin: 0 auto;
    width: 50%;
}
// Widens inventory menus's
#left-menu-inventory-page > .container-fluid {
    padding-left: 10px;
    padding-right: 10px;
}
/* Adjusts Search page for mobile layouts */
#newSearch {padding: 10px 15px;}
@media (max-width: 768px) {
    .inventory-content {margin-top: 20px;}
    footer .col-xs-12 {text-align: center; padding: 1rem;}
    #leadDashboards {
    text-align: left; } 
}
/* Search Control Update */
@media (max-width: 991px) {
    .inventory-content {padding-top: 20px;}
    .vBox-details {
        padding: 10px !important;
        background: rgba(0,0,0,0.1);
        border-bottom: 1px solid rgba(0,0,0,0.2);
        border-top: 1px solid rgba(0,0,0,0.2);
    }
}    
.vBox-button {margin-bottom: 0px;}
.vBox-price-wrapper .rebate {text-align: right;}
.vBox-price-wrapper .msrp {text-align: right;}
.vBox-price-wrapper .price {text-align: right;}
#viewCompleteOffer > span {
  display: inline;
  font-size: x-small;
  padding: 1rem; }
.ADACompliance .btnDisclaimer {
    margin-top: 25px;
}
/* Makes the menu more legible for desktop and mobile */
@media only screen and (max-width: 767px) {
    .navbar-nav .dropdown-menu > li > a {
        color: #fff;
        font-size: larger;
        line-height: 1.25;
        margin: 1rem;
        text-transform: none;
        text-shadow: 1px 1px rgba(0,0,0,.5);
    }

    .navbar-nav {
        margin: 1rem;
    }
    .ADACompliance .btnDisclaimer {
        margin-top: 10px !important;
    }
}

/* Applies CTA coloring to the vehicle NAV */
#home-page .category .nav-tabs > li.active > a {
    background-color: $color-cta !important;
   // background-color: rgb(40,40,40) !important;
   // background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 80%, rgba(0,0,0,1)), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(to bottom, rgb(8, 8, 8), rgb(32, 32, 32));
   // background-size: 100% 100%, 10px 10px, 10px 10px, 10px 5px;
   // background-position: 0px 0px, 0px 0px, 5px 5px, 0px 0px;
    color: #fff !important;
    transition: all .1s ease 0s;
    -webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3), 0px 0px 2px 0px rgba(0, 0, 0, 0.2), 0px 0px 3px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3), 0px 0px 2px 0px rgba(0, 0, 0, 0.2), 0px 0px 3px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3), 0px 0px 2px 0px rgba(0, 0, 0, 0.2), 0px 0px 3px 0 rgba(0, 0, 0, 0.1);
}

#home-page .category .nav-tabs > li > a:hover {
    background-color: #fff !important;
    color: $color-cta !important;
    transition: all .1s ease 0s;
    -webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3), 0px 0px 2px 0px rgba(0, 0, 0, 0.2), 0px 0px 3px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3), 0px 0px 2px 0px rgba(0, 0, 0, 0.2), 0px 0px 3px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3), 0px 0px 2px 0px rgba(0, 0, 0, 0.2), 0px 0px 3px 0 rgba(0, 0, 0, 0.1);
}

#home-page > div.category {
    margin-top: 0px !important;
    // border-top: 1px solid $color-background-two;
}

#home-page #category-tabs {
    background: $color-background;
}
/* Formatting for Incentive Dashboards */
#incentiveManagementDashboard, #incentiveManagementDashboardSpecialProgram, #divHideIncentivePrograms, #incentiveManagementDashboardCustomDiscounts, #divMissingIncentivePrograms {
    margin-top: 0 !important;
    padding: 0 !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#tableIncentiveManagement .itemActive, #tableIncentiveManagementSpecialProgram .itemActive, #tableIncentiveManagementCustomDiscounts .itemActive {
    color: #3cba54;
    cursor: pointer;
    text-decoration: underline solid;
}

#tableIncentiveManagement .programEdit {
    color: $color-primary;
    cursor: pointer;
}

#tableIncentiveManagement .itemHidden, #tableIncentiveManagementSpecialProgram .itemHidden, #tableIncentiveManagementCustomDiscounts .itemHidden {
    color: red;
    cursor: pointer;
    text-decoration: underline solid;
}

#incentiveEditSpecialProgramControl .offer-cards {
  margin-top: 20px; }

#incentiveEditSpecialProgramControl .modal-body {
  padding: 15px; }

#leadDashboards .nav-tabs {
  background: #efefef; }

#btnAddNewSpecialProgramIncentive,#vehicleFeatureDashboard #btnSaveDetails,#vehicleFeatureDashboard #btnResetPriceOverride {
  float: right;
  margin: 10px;
  line-height: 2; }

#contactInfoCtr {
    width: 100%;
}

.carbon-bg {
    background-color: #282828 !important;
    background-image: linear-gradient(to right, black, transparent 20%, transparent 80%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(to bottom, #080808, #202020) !important;
    background-size: 100% 100%, 10px 10px, 10px 10px, 10px 5px !important;
    background-position: 0px 0px, 0px 0px, 5px 5px, 0px 0px !important;
}


table#MainContent_VehicleFeatureDashboardControl_grdvwVehicleFeature > tbody > tr:hover {
    background-color: $color-cta;
    color: $white;
}

/*  new vehicle slider on homepage*/

/* Icons */
@font-face {
    font-family: "slick";
    src: url("./fonts/slick.eot");
    font-weight: normal;
    font-style: normal;
}

/* Arrows */
.slick-prev, .slick-next {
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 50%;
    margin-top: -10px;
    padding: 0;
    border: none;
    outline: none;
}

.slick-prev:focus, .slick-next:focus {
    outline: none;
}

.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
    opacity: 0.25;
}

.slick-prev:before, .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: $color-cta;
    opacity: 0.85;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
    left: -25px;
}

.slick-prev:before, .slick-next:before {
    font-family: "slick";
    font-size: 5rem;
    line-height: 1;
    color: $color-primary;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px rgba(0,0,0,.25);
}

.slick-prev:before {
    content: "‹";
}

[dir="rtl"] .slick-prev:before {
    content: "›";
}

.slick-next {
    right: -25px;
}

[dir="rtl"] .slick-next {
    left: -10px;
    top: 70px;
    right: auto;
}

.slick-next:before {
    content: "›";
}

[dir="rtl"] .slick-next:before {
    content: "‹";
}
/* New custom slider */

.vehicleType {
    list-style: none;
    text-align: center;
    margin: 0px;
    margin-bottom: 10px;
    padding: 0px;
}

.vcp-button {
    border: 1px solid $color-cta;
    font-size: large;
    line-height: 1.25;
    padding: .5rem 4rem;
}

.vcp-button:hover {
    color: #fff;
    background: $color-primary;
    border: 1px solid $color-primary;
    transition: 0.2s;
    transition-timing-function: ease-in-out;
}

.vcp-carousel-wrapper {
    background: #fff;
    margin-top: 3px;
}

.vcp-carousel {
    max-width: 90%;
    margin: 0 auto;
    background: #fff;
}

.vcp-carousel .vcp-model {
    text-align: center;
    margin: 0 5px;
}

.vcp-carousel .vcp-model img {
    margin: 0 auto;
}

.vcp-carousel .vcp-model:hover img {
    transition: 0.25s;
    transition-timing-function: ease-in-out;
    transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    transform: scale(1.1,1.1);
}

.vcp-carousel .vcp-model:hover h4 {
    margin-top: 18px;
    margin-bottom: 0;
    transition: 0.25s;
    transition-timing-function: ease-in-out;
    transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    transform: scale(1.1,1.1);
    text-decoration: none;
    font-weight: 700;
}

.vehicleType li {
    display: inline-block;
    float: none;
    margin: 3px 0 0 0;
}

.vcp-selector {
    width: 100%;
}

.slick-active a, .slick-slide:focus {
    outline: none;
    text-decoration: none;
}

div#MainContent_VehicleInfo_divDescription {
    margin-bottom: 15px;
}

.btn-primary {
    color: #000;
    font-weight:600;
    }