﻿#topbanner .div3 a.map {
    text-decoration: underline !important;
}

@media only screen and (max-width: 767px) {
    .navbar-nav .dropdown-menu > li > a {
        color: #fff;
        font-size: larger;
        line-height: 1.25;
        margin: 1rem;
        text-transform: none;
        text-shadow: 1px 1px rgba(0,0,0,.5);
    }
    .navbar-nav .dropdown-menu > li > a:active {
        background: #242424;
    }
    #topbanner .div3 {
        float: right;
    }
}

.carousel-indicators li {
    background-color: #fff;
    -webkit-box-shadow: 1px 1px 2px 2px rgba(0, 0, 0,.5);
    -moz-box-shadow: 1px 1px 2px 2px rgba(0, 0, 0,.5);
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0,.5);
}
.carousel-indicators .active {
    background-color: #068cb3;
    border: none;
    -webkit-box-shadow: 1px 1px 2px 2px rgba(0, 0, 0,.75);
    -moz-box-shadow: 1px 1px 2px 2px rgba(0, 0, 0,.75);
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0,.75);
}


#siteNav {
    background-color: #068cb3;
    border-top: 1px solid rgba(221,221,221,0.5);
    -webkit-box-shadow: 0 2px 1px -1px rgba(0,0,0,0.25);
    -moz-box-shadow: 0 2px 1px -1px rgba(0,0,0,0.25);
    box-shadow: 0 2px 1px -1px rgba(0,0,0,0.2);
    position: relative;
    z-index: 100;
}

#topnav > li > a {
    color: #FFF;
}
#topnav ul.dropdown-menu {
    background-color: #068cb3;
    margin-left: -1px;
    margin-top: -2px !important;
    padding: 0;
}
#topnav ul.dropdown-menu > li > a {
    color: #FFF;
}

/* lines on mobile nav */
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #fff;
    box-shadow: 1px 1px 0px 0px rgba(6,120,188,.2);
}

/* border around mobile nav */
.navbar-inverse .navbar-toggle {
    border-color: #333;
    border: none;
    background-color: rgb(40,40,40);
    background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 80%, rgba(0,0,0,1)), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(to bottom, rgb(8, 8, 8), rgb(32, 32, 32));
    background-size: 100% 100%, 10px 10px, 10px 10px, 10px 5px;
    background-position: 0px 0px, 0px 0px, 5px 5px, 0px 0px;
    box-shadow: 1px 1px 1px 0px rgba(6,120,188,.7);
}

#homepage-fourth-card > div.card-title {
    background-color: rgb(40,40,40);
    background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 80%, rgba(0,0,0,1)), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(to bottom, rgb(8, 8, 8), rgb(32, 32, 32));
    background-size: 100% 100%, 10px 10px, 10px 10px, 10px 5px;
    background-position: 0px 0px, 0px 0px, 5px 5px, 0px 0px;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    background-color: #282828 !important;
    background-image: linear-gradient(to right, black, transparent 20%, transparent 80%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(to bottom, #080808, #202020);
    background-size: 100% 100%, 10px 10px, 10px 10px, 10px 5px;
    background-position: 0px 0px, 0px 0px, 5px 5px, 0px 0px;
    color: #fff;
}

#accordion-refresh {
    border: none;
}

#btnSearchVin {
    border: 1px solid #068cb3;
}

img#AutoCheckVehicleButton {
    display: block;
    margin: 5px auto;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-inverse.primaryBg {
    border-color: #068cb3;
}

#footersection {
    background-color: #282828 !important;
    background-image: linear-gradient(to right, black, transparent 20%, transparent 80%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(to bottom, #080808, #202020);
    background-size: 100% 100%, 10px 10px, 10px 10px, 10px 5px;
    background-position: 0px 0px, 0px 0px, 5px 5px, 0px 0px;
}

.vdp-disclaimer {
    margin-top: 1rem;
}

#btnTrueCar {
    background: #ff9200;
}

#btnTrueCar:hover {
    background: #068cb3;
}

.vic-disclaimer, .vic-disclaimer.small {
    padding: 0 1rem;
    color: #999;
}

#MainContent_VehicleInfo_lblVehicle {
    text-shadow: 1px 1px rgba(6,120,188,0.5);
    font-weight: 700;
}

.vcp-label {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* homepage review css */
#map-plug {
    display: none;
}

#google-reviews {
    display: flex;
    flex-wrap: wrap;
    /*display: grid;
grid-template-columns: repeat( auto-fit, minmax(320px, 1fr));*/
}

.review-item {
    border: solid 1px rgba(190,190,190,.35);
    margin: 0 auto;
    padding: 1em;
    flex: 1 1 20%;
}

@media (max-width:1200px) {
    .review-item {
        flex: 1 1 40%;
    }
}

@media (max-width:450px) {
    .review-item {
        flex: 1 1 90%;
    }
}

.review-meta, .review-stars {
    text-align: center;
    font-size: 115%;
}

.review-author {
    text-transform: capitalize;
    font-weight: bold;
}

.review-date {
    opacity: .6;
    display: block;
}

.review-text {
    line-height: 1.55;
    text-align: left;
    max-width: 32em;
    margin: auto;
}

.review-stars ul {
    display: inline-block;
    list-style: none !important;
    margin: 0;
    padding: 0;
}

.review-stars ul li {
    float: left;
    list-style: none !important;
    margin-right: 1px;
    line-height: 1;
}

.review-stars ul li i {
    color: #E4B248;
    font-size: 1.4em;
    font-style: normal;
}

.review-stars ul li i.inactive {
color: #c6c6c6;
}

.star:after {
    content: "\2605";
}

#staff .tab-content p {
    color:#fff !important;
}

/* removes duplicate background line */
#leadDashboards ul.nav.nav-tabs::before {
    background: none;
}

html {
    background-color: #EFEFEF;
}

