﻿[style*="--aspect-ratio"] > :first-child {
    width: 100%;
}

[style*="--aspect-ratio"] > img {
    height: auto;
}

@supports (--custom:property) {
    [style*="--aspect-ratio"] {
        position: relative;
    }

        [style*="--aspect-ratio"]::before {
            content: "";
            display: block;
            padding-bottom: calc(100% / (var(--aspect-ratio)));
        }

        [style*="--aspect-ratio"] > :first-child {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
        }
}




/*  Main Site Templates */
body {
    background: none;
}

#serviceForm {
    background: #fff;
}

.clear {
    clear: both;
}

.clear-20 {
    clear: both;
    height: 20px;
}


.clear-10 {
    clear: both;
    height: 10px;
}

.padded-15 {
    padding: 15px;
}

.padded-15-right {
    padding-right: 15px !important;
}

#sitemap ul {
    list-style: none;
    padding-left: 10px;
}

#sitemap h2 {
    margin-bottom: 5px;
}

/* Service Icons Color on Hover */
.svc_header a:hover i {
    color: #428bca;
    text-shadow: 1px 1px rgba(0,0,0,0.75);
}

.svc_header i {
    margin: 1rem 0 auto;
}

.svc_header h5 {
    font-size: 16px;
    font-weight: 500;
}

.svc-top-container.row, .top-container.row {
    margin: 0 0 0px 0;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,.24);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,.24);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,.24);
    background: #fff;
}

.service-brushed {
    background-image: url('http://storage.googleapis.com/www.savvydealer.com/public/textures/brushed.png');
    background-color: #CCC;
    border-radius: 4px;
    margin: 15px;
    padding: 5px 15px;
}

.top-container.row div div h1 {
    margin: 18px;
}

/* Page Main Card */
.body-content-wrapper {
    max-width: 1170px;
    margin: 20px auto;
}

.body-content-card {
    background: #fff;
    margin: 2% 4%;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,.24);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,.24);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,.24);
}

.bcc-content-block {
    margin-bottom: 2rem;
}

    .bcc-content-block p {
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-weight: 300;
        line-height: 1.5;
        margin-bottom: 1rem;
        margin-top: 0;
    }


.bcc-hero-image {
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
}

.main-search-container {
    margin-top: 2rem;
}

.main-search-box {
    background: #fff;
    padding: 0px;
}

.main-search-input {
    border: none !important;
    height: 4rem;
    max-width: none !important;
}

.main-search-button {
    height: 4rem;
    width: 5rem;
}

/* adds bootstrap styling to pagenztion */
#MainContent_SearchControl_dataPager a {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ccc;
}

/* Shadows & Transitions */
.mdl-gray-box {
    background: #eee;
    background-color: #eee;
    background: radial-gradient(#f5f5f5, #eeeeee, #f5f5f5);
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    -moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.mdl-white-box {
    background: #fff;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    -moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.mdl-box-shadow {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    -moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.mdl-top-shadow {
    -webkit-box-shadow: 0 -1px 2px -1px #333;
    -webkit-box-shadow: 0 -1px 2px -1px rgba(0,0,0,.5);
    -moz-box-shadow: 0 -1px 2px -1px #333;
    -moz-box-shadow: 0 -1px 2px -1px rgba(0,0,0,.5);
    box-shadow: 0 -1px 2px -1px #333;
    box-shadow: 0 -1px 2px -1px rgba(0,0,0,.5);
}

.mdl-bottom-shadow {
    -webkit-box-shadow: 0 1px 2px -1px #333;
    -webkit-box-shadow: 0 1px 2px -1px rgba(0,0,0,.5);
    -moz-box-shadow: 0 1px 2px -1px #333;
    -moz-box-shadow: 0 1px 2px -1px rgba(0,0,0,.5);
    box-shadow: 0 1px 2px -1px #333;
    box-shadow: 0 1px 2px -1px rgba(0,0,0,.5);
}

.mdl-full-shadow {
    -webkit-box-shadow: 0 2px 4px -1px #333;
    -webkit-box-shadow: 0 2px 4px -1px rgba(0,0,0,.5);
    -moz-box-shadow: 0 2px 4px -1px #333;
    -moz-box-shadow: 0 2px 4px -1px rgba(0,0,0,.5);
    box-shadow: 0 2px 4px -1px #333;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.5);
}

.coupon-stitch {
    padding: 20px;
    margin: 10px;
    background: #eee;
    border: 2px dashed #AAA;
    box-shadow: 0 0 0 4px #eee, 2px 1px 6px 4px rgba(10, 10, 10, 0.5);
    cursor: pointer;
}

    .coupon-stitch:hover {
        transition: all 0.1s ease 0s;
        -webkit-box-shadow: 0 0 0 4px rgba(0,0,0,.14),0 3px 1px -1px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
        -moz-box-shadow: 0 0 0 4px rgba(0,0,0,.14),0 3px 1px -1px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
        box-shadow: 0 0 0 4px rgba(0,0,0,.14),0 3px 1px -1px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    }

    .coupon-stitch h3 {
        margin-top: 0;
    }

/* Styling for the Home Page */
#site-header-color {
    background-color: #fff !important;
    background: #fff !important;
}

#topbanner {
    background-color: #fff !important;
    background: #fff !important;
}


    #topbanner .login, #topbanner .manage {
        top: inherit;
        bottom: 8px;
    }

#home-page .half-card-container {
    padding: 24px 36px;
}

#home-page .custom-card {
    background-color: white;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    -moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

    #home-page .custom-card:hover {
        transition: all 0.1s ease 0s;
        -webkit-box-shadow: 0 2px 3px 3px rgba(0,0,0,.14),0 3px 1px -1px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
        -moz-box-shadow: 0 2px 3px 3px rgba(0,0,0,.14),0 3px 1px -1px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
        box-shadow: 0 2px 3px 3px rgba(0,0,0,.14),0 3px 1px -1px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    }

        #home-page .custom-card:hover img {
            -webkit-filter: brightness(75%);
            -webkit-transition: all 0.3s ease .1s;
            -moz-transition: all 0.3s ease .1s;
            -o-transition: all 0.3s ease .1s;
            transition: all 0.3s ease .1s;
        }

#home-page .card-link, .card-link:hover, .card-link:visited {
    color: inherit;
    text-decoration: inherit;
}

#home-page .card-image img {
    width: 100%;
}

/* removes auto padding, sets background solid white */
#home-page .category.row {
    margin: 2px 0;
    max-width: 100%;
    padding: 0;
    background: #fff;
}


/* removes blank space below vehicles */
div.vehicImg {
    min-height: inherit;
}


.background-cta {
    background-color: #2d96cd;
}

.color-cta {
    color: #2d96cd;
}

.background-secondary {
    background-color: #264b68;
}

.color-secondary {
    color: #264b68;
}

.background-default {
    background-color: #333;
}

.color-default {
    color: #333;
}

#home-page .card-description {
    padding: 10px 15px 0px 15px;
    min-height: 90px;
    font-size: 16px;
}

#home-page .card-counter {
    float: right;
    margin-right: 32px;
    background-color: white;
    height: 48px;
    width: 48px;
    border-radius: 24px;
    font-size: 20px;
    padding: 7px;
    line-height: 1.75;
    display: inline;
    margin-top: -22px;
    margin-bottom: -24px;
    position: relative;
    font-weight: 700;
    box-shadow: 0 1px 2px 1px #333;
    box-shadow: 0 1px 2px 1px rgba(0,0,0,.25);
    z-index: 1;
    text-align: center;
}

#home-page .card-h2 {
    margin: 15px;
    font-size: 30px;
}

#home-page .card-h3 {
    margin-top: 10px;
}

/* conpact services menuy */
.svc_header {
    margin: 10px 0;
}

/* Map and Review Card */
#home-page .customer-reviews {
    padding: 0;
    margin-top: 0;
}

#home-page .map-fill-width {
    width: 100%;
    min-height: 450px;
    border: 0;
}

#home-page .review-card {
    position: absolute;
    margin-top: -435px;
    margin-bottom: 0;
}

#home-page .customer-reviews.row {
    margin-top: 0;
}

#home-page .customer-reviews .review-list .review .post {
    font-size: 14px;
    padding: .5em 0;
}

#home-page .customer-reviews .review-list {
    padding: 0 10px;
}

/* Logos at bottom of homepage */
.gator-bottom-logo-frame {
    margin-top: 20px;
}

.gator-bottom-logo {
    max-height: 120px;
    display: block !important;
    margin: auto;
    -webkit-filter: drop-shadow(1px 1px 2px rgba(0,0,0,0.25));
    filter: drop-shadow(1px 1px 2px rgba(0,0,0,0.25));
}

.gator-bottom-logo-padded {
    padding-top: 7px;
}

@media (max-width: 767px) {
    #home-page .review-card {
        position: relative;
        margin-top: 0;
        margin-bottom: 0;
    }

    #vBox h3 {
        font-size: 18px;
    }

    #myCarousel {
        display: none;
    }
}

@media (max-width: 1200px) {
    .vBox-price-wrapper {
        /*text-align: center !important;*/
    }

    #vBox h3 {
        font-size: 22px;
    }
}

.learn-more-image {
    display: block;
    height: 140px;
    margin: 0 auto;
}

/* Site Width Widening */
@media (min-width: 1200px) {

    .container {
        max-width: 1440px;
    }

    .agile-wrap {
        // min-height: 760px;
    }
}



/* Test Styling for Inventory  */
body {
    font-size: 16px;
}

#topbanner {
    background: #fff !important;
}

.panel-body {
    background: #fff !important;
    padding: 0;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    -moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}


.IsHiddenCard {
    background: #ccc !important;
}

.panel-default {
    border: none;
}

.btn {
    border-radius: 0px;
}

.searchButtonDiv {
    margin: 0 0 15px !important;
    padding: 15px !important;
}

    .searchButtonDiv .row {
        margin-left: 0 !important;
    }

#search-tag-bar {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    -moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    margin: 15px;
    background: #eee;
}

#MainContent_SearchControl_searchButtonDiv {
    margin-left: 35px;
    margin-top: 15px;
}

    #MainContent_SearchControl_searchButtonDiv fieldset {
        border: none;
        margin: 0;
    }

.searchButtonDiv input[type="submit"] {
    margin: 0 5px;
}

/* Contols for inventory display */
#vBox #btnInfo {
    width: 100%;
}

#vBox .pricing-label-small {
    font-size: 14px;
    margin-bottom: 0;
    float: left;
}

#vBox .label-group {
    color: #666;
    font-size: 14px;
}

#vBox .mileage {
    font-size: 14px;
    margin-bottom: 4px;
}


#vbox-mileage-icon {
    width: 20px;
}

#vBox .label-group label {
    color: #555;
}

.vBox-image {
    padding: 0;
}

.vBox-details {
    padding: 0 0 10px 10px;
}

.vBox-price-wrapper {
    text-align: right;
    padding: 10px 0px;
}

    .vBox-price-wrapper label {
        color: #999;
        font-weight: 400;
    }

    .vBox-price-wrapper div {
        line-height: 1.5;
    }

    .vBox-price-wrapper .rebate {
        cursor: pointer;
    }

        .vBox-price-wrapper .rebate:hover {
            cursor: pointer;
            text-decoration: underline;
        }

.vBox-button {
    margin-top: 10px;
    text-align: right;
    margin-bottom: 10px;
}

#vBox h3 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.vcp-certifed-nav {
    border-right: 1px solid #ccf;
}

#contentP {
    clear: both;
}
/* #my-tab-content {
    background: radial-gradient(#ddd, #eee, #ddd);
}*/


.main-search-button {
    margin-right: -2px;
}
/* Creates inverse button for primary*/
.btn-primary-inverse {
    background: #fff;
    background-color: #fff;
    color: #357ebd;
    font-weight: 500;
    border: 2px solid #357ebd;
}

    .btn-primary-inverse:hover {
        background: #264b68;
        background-color: #264b68;
        color: #fff;
        border: 2px solid #fff;
    }

#new-vehicle .listcategories {
    background: #fff;
    margin: 0;
}

#new-vehicle .listcategories {
    background: #fff;
    margin: 0;
}

.fa-border {
    border: none;
}

span.fa-border {
    width: 100%;
}

.vehicle-inventory-display:hover {
    transition: all .2s ease 0s;
    margin: 0 5px 20px 5px;
    -webkit-box-shadow: 0 2px 3px 3px rgba(51,51,102,.14),0 3px 1px -1px rgba(51,51,102,.2),0 1px 5px 0 rgba(51,51,102,.12);
    -moz-box-shadow: 0 2px 3px 3px rgba(51,51,102,.14),0 3px 1px -1px rgba(51,51,102,.2),0 1px 5px 0 rgba(51,51,102,.12);
    box-shadow: 0 2px 3px 3px rgba(51,51,102,.14),0 3px 1px -1px rgba(51,51,102,.2),0 1px 5px 0 rgba(51,51,102,.12);
}

.btn-primary {
    background-color: #2d96cd;
    border-color: #2e6da4;
    border-color: rgba(46,109,164,0.5);
    box-shadow: 2px 2px 3px -3px rgba(46,109,164,0.75) inset;
    /*text-shadow: 1px 1px rgba(46,109,164,0.5);*/
}

    .btn-primary:hover {
        transition: background-color 0.2s ease;
        background-color: #264b68;
    }

.search-container .flex-bottom {
    width: 80%;
}

.vid-padding {
    padding: 15px;
    color: #888;
}

    .vid-padding h3, .price {
        color: #222;
    }

    .vid-padding label {
        color: #777;
    }

#MainContent_searchButtonDiv {
    margin: 2% 2.5%;
}

    #MainContent_searchButtonDiv .row fieldset {
        border: none;
        margin-left: 0;
    }

    #MainContent_searchButtonDiv input[type="submit"] {
        margin: 5px;
    }

.fa-border {
    border: none;
}

span.fa-border {
    width: 100%;
}

.msrp {
    text-decoration: line-through;
    font-size: 16px;
}

.rebate {
    font-size: 16px;
    color: #333;
}

.your-price {
    font-size: 18px;
}

vsr-pagenation {
    text-align: right;
}

.vsr-pagenation ul, .vsr-pagenation2 ul {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    -moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    margin: 0 -15px 15px 0;
}

/* Styling for the Staff Page */
#staff-tabs li a {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#staff .tab-content {
    background: #fff;
    padding: 0;
    min-width: inherit;
}

    #staff .tab-content .staff {
        border: none;
        min-height: 310px;
    }

    #staff .tab-content .role {
        font-size: 16px;
        margin-top: -10px;
    }

    #staff .tab-content .mail {
        float: right;
        position: absolute;
        top: 5px;
        right: 20px;
        margin-bottom: -26px;
    }

    #staff .tab-content .edit {
        float: right;
        position: absolute;
        top: 45px;
        right: 20px;
        margin-bottom: -26px;
    }

    #staff .tab-content .delete {
        float: right;
        position: absolute;
        top: 85px;
        right: 20px;
        margin-bottom: -26px;
    }

    #staff .tab-content .staff-card .detail {
        position: inherit !important;
        width: 100%;
        margin: 0;
        min-height: 165px;
        background: #CCC;
        padding: 5px 5px 0 5px;
    }

    #staff .tab-content .staff-card {
        margin: 10px 0;
        min-height: 250px;
    }

        #staff .tab-content .staff-card div.mdl-box-shadow img {
            width: 100%;
        }

.staff-card:hover .detail {
    transition: all .2s ease 0s;
    background: rgba(0,0,0,0.7) !important;
}

#staff .nav-tabs > li {
    height: 70px;
    width: inherit;
}

    #staff .nav-tabs > li a {
        font-size: 16px;
        height: 70px;
        padding: 7px;
    }

@media only screen and (min-width: 300px) {
    #staff .nav-tabs > li a {
        padding: 10px;
    }
}


@media only screen and (min-width: 350px) {
    #staff .nav-tabs > li a {
        padding: 15px;
    }
}

@media only screen and (min-width: 450px) {
    #staff .tab-content .staff-card .detail {
        background: rgba(0,0,0,0.35);
        color: #fff !important;
        width: 89%;
        padding: 10px 10px 0 10px;
        margin-bottom: -9px;
        position: absolute !important;
        margin: 10px 0 0 0;
        bottom: 0px;
        min-height: initial;
    }
}


/* Style for the contact Page */
#contact-us-page {
    margin: 0 auto;
    padding-top: 1.5%;
}

    #contact-us-page .title {
        background-color: #fff;
        min-height: 95px;
    }

        #contact-us-page .title p {
            margin: 0;
            padding: 5%;
        }

    #contact-us-page .box {
        border: 0px transparent;
        min-height: 670px;
        -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
        -moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
        box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    }

/* Blog Page Styling */
.savvy-wrap {
    width: 90%;
    margin: 1% auto;
    font-family: Louis-i4, Louis, 'Louis Bold', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.savvy-full-image {
    width: 100%;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px rgba(0,0,0,0.5);
    margin-bottom: 16px;
}

.savvy-compare-heading {
    background-color: #F0F0F0;
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.00, #D8D8D8), color-stop(1.00, #F2F2F2) );
    margin: 16px 0;
    box-shadow: inset 0 0 8px rgba(65, 64, 66, 0.16);
    color: #4E4F50;
    font-family: Arial, Helvetica, sans-serif;
}

    .savvy-compare-heading h2 {
        line-height: 1.25;
    }

#blog-detail {
    padding-top: 0px;
    margin-top: 0;
}

/* Blog Page Styling */
.list-tag {
    padding: 1rem;
    max-height: 600px;
    height: 600px;
    overflow: auto;
}


    .list-tag::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        background-color: #F5F5F5;
    }

    .list-tag::-webkit-scrollbar {
        width: 12px;
        background-color: #F5F5F5;
    }

    .list-tag::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #555;
    }


    .list-tag a {
        padding: 0;
        display: block;
    }

    .list-tag input:hover {
        cursor: pointer;
    }

    .list-tag label:hover {
        cursor: pointer;
    }

#tags .panel-heading, #categories .panel-heading {
    background: #264b68 !important;
    color: #fff;
}

.blog-card {
    background: #fff;
    margin-top: 3rem !important;
    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.blog-herobox {
    background: #fff;
    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.blog-card-title {
    background-color: #428bca;
    font-size: 2rem;
    margin: 0;
    padding: .75rem 1.5rem;
    line-height: 1;
}

    .blog-card-title a {
        color: #fff;
        text-decoration: none;
    }

.blog-entry .section {
    background-color: #fff;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    margin-bottom: 3rem;
    margin-top: 0 !important;
}

.vcp-article-card {
    background: #fff;
    margin: 2% 4%;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,.24);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,.24);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,.24);
}

.blog-card-summary {
    padding: 10px 16px;
    height: 140px;
    overflow: scroll;
}

#blog-page .blog-entry .section .section-inner .content .desc {
    margin: 0;
}

#MainContent_BlogContent_UCBlogEntryDetail_btnText1, #MainContent_BlogContent_UCBlogEntryDetail_btnText2 {
    width: 100%;
}

.btn-cta-ford {
    background-color: #2d96cd;
    color: #fff;
}

    .btn-cta-ford:hover {
        background-color: #264b68;
        color: #fff;
    }

.btn-def-ford {
    background-color: #fff;
    color: #264b68;
}

    .btn-def-ford:hover {
        background-color: #264b68;
        color: #fff;
    }




/* VCP Styling */
.body-content hr {
    margin-top: 0;
}

.vcp #new-vehicle {
    padding-left: 0;
    padding-right: 0;
}

.vcp .vcp-hero {
    list-style: none;
}

    .vcp .vcp-hero li {
        text-align: left;
        color: #264b68;
        font-weight: 500;
        font-size: 24px;
    }

.vcp .vcp-hero-small {
    font-size: 16px !important;
    color: #91a4b1 !important;
    padding-top: 30px;
}

.vcp .vcp-main-image {
    width: 100%;
}

.vcp .vcp-nav h4 {
    line-height: 1.1 !important;
    font-size: 30px !important;
    font-weight: 500 !important;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.vcp .vcp-nav p {
    clear: both;
    // display: block;
    padding: 10px 15px 0px 15px;
    font-size: 16px;
}

.vcp .vcp-nav div {
    text-align: center;
}

.vcp .vcp-tabs {
    min-height: 600px;
    // margin-top: 30px;
}

.vcp #tabs {
    font-size: 24px;
    background: #fff;
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0,0.4);
    box-shadow: 0px 1px 4px rgba(0,0,0,0.4);
    margin-bottom: 1px;
}

    .vcp #tabs li.active a {
        background-color: #264b68;
        color: #fff;
        border-radius: 0;
        border-bottom: 1px solid #2d96cd;
    }

    .vcp #tabs li a:hover {
        background-color: #2d96cd;
        color: #fff;
    }

.vcp #Inventory {
    margin-top: 20px;
}

.vcp #MainContent_inventoryTab {
    border-right: 1px solid #ccf;
}

.vcp .tab-pane {
    padding: 0px;
}

.vcp div.vcp-cta:hover, div.vcp-default:hover {
    background-color: #2d96cd;
    color: #fff;
}

.vcp .vcp-cta {
    height: 50px;
    color: #fff;
    background-color: #264b68;
}

.vcp .vcp-default {
    height: 50px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.vcp .mdl-bottom-shadow {
    background-color: #fff;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    -moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.vcp .clear {
    clear: both;
    height: 0px;
}

.vcp .tab-30 {
    padding: 30px;
}

.vcp .clear-25 {
    clear: both;
    height: 25px;
}

.vcp-main-title {
    text-align: left;
}

/* Login Page */
.login-card {
    background: #fff;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    -moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

/* RV Service Page */

.service_left {
    width: 32%;
    float: left;
}

.service_right {
    float: left;
    width: 68%;
}

.gator5 h4, .gator-blue5 {
    color: #425968;
    text-shadow: none;
    text-shadow: .5px .5px .25px rgba(45, 150, 205, 0.4);
}

.gator5 {
    clear: both;
}

.gator5-left p {
    margin: 0;
    color: #2d96cd;
}

.small-img-holder {
    padding: 0 5px 15px 5px;
}

    .small-img-holder img {
        width: 100%;
        -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,.24);
        -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,.24);
        box-shadow: 0px 1px 2px 0px rgba(0,0,0,.24);
    }

.services-list-panel div.panel-heading {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    -moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.services-list-panel div.panel-body ul {
    list-style: none;
    padding: 10px 15px;
}
/* Department Pages */
.sub-nav-menu {
    padding: 0;
}

.non-padded {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 0 !important;
}

.iframe-card {
    width: 100%;
    min-height: 640px;
}


/* adjusts search panels */
.panel-default > .panel-heading {
    color: #333;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    border-color: #ddd;
}

.panel-group {
    margin-bottom: 1px;
    border: 1px solid #425968;
    border: 1px solid rgba(66,89,104,0.30);
}



/* Search List Controls */
.list-group-item {
    padding: 5px 15px;
}

    .list-group-item:hover {
        background-color: #264b68;
        color: #fff;
    }

.list-group li.active {
    margin-bottom: 1px;
}

ul.list-group li.list-group-item {
    padding-left: 25px;
}

.list-group-submenu li {
    padding-left: 50px !important;
}

.list-group-custom-default {
    padding-left: 15px !important;
}

li span.badge {
    margin-top: 3px;
}

.panel-default > .panel-heading:hover {
    background-image: none;
    background-color: #fff;
}

/*  Edit Vehicle Listing  */
.edit-vehicle-listing {
    padding: inherit;
}

    .edit-vehicle-listing .form-title {
        margin: inherit !important;
    }

.edit-vehicle-checkbox {
    padding-right: 30px;
    padding-bottom: 10px;
}

.edit-vehicle-two {
    padding-bottom: 20px;
}

/* Updating Service Specials */
#serviceSpecial .container .form-title {
    display: none !important;
}

#serviceSpecial .featured-image img {
    width: 100%;
}

/*  Styling for Update Page */
#vehicle-update .form-horizontal-input-padded label {
    margin-left: 0 !important;
}

.no-left-pad {
    padding-left: 0;
}

.vcp-read-more {
    width: 100%;
    height: 50px;
    display: block;
    line-height: 2.5;
    font-size: 20px;
    text-decoration: none !important;
    text-align: center;
}


.fade-white {
    text-align: left !important;
    display: block;
    overflow: hidden;
    position: relative;
    // padding: 20px 20px 0 20px;
    padding: 0;
    max-height: 120px;
}

    .fade-white p {
        margin-bottom: 0;
    }

    .fade-white:after {
        position: absolute;
        bottom: 0;
        height: 100%;
        width: 100%;
        content: "";
        background: linear-gradient(to top, rgba(255,255,255, 1) 20%, rgba(255,255,255, 0) 80% );
        pointer-events: none;
    }

/* vehicle display page */
.mpg-disclaimer {
    padding: 0 8px;
    text-align: justify;
}

.vehicle-info .panel {
    border: 0px;
    border-radius: 2px;
}

    .vehicle-info .panel h2 {
        margin: -.7em -1px .7em -1px;
        border-radius: 2px 2px 0 0;
        padding: .6em 1em;
    }

.bottom-20 {
    margin-bottom: 20px;
}

.bottom-0 {
    padding-bottom: 0 !important;
}

.vehicle-info .panel.pricing .btn-primary {
    margin-top: 1em;
}


/* Main Nav */
#siteNav {
    border-bottom: none;
    text-transform: uppercase;
}

.navbar-inverse .navbar-nav > li > a {
    color: #efefef;
}








/*  Items added on revisit*/
.bottom-shadow {
    -webkit-box-shadow: 0 2px 1px rgba(0,0,0,0.25);
    -moz-box-shadow: 0 2px 1px rgba(0,0,0,0.25);
    box-shadow: 0 2px 1px rgba(0,0,0,0.25);
}

/* Header */
#topbanner > .row-fluid {
    padding: 5px 0 0;
}

#topbanner > div.row-fluid > div {
    padding: 5px 0;
}

#topbanner div {
    margin-left: 0;
    text-align: center;
}

#topbanner .phone {
    line-height: 2;
}

.site-logo {
    max-width: 100%;
}

#personalizationLogo img {
    margin: 10px auto;
    display: block;
    max-height: 110px;
    /* Uncomment this if you want the middle logo visible on mobile */
    /* display: block !important; */
}

ul.manage {
    margin-bottom: -10px;
}

.manage > li {
    padding: 2px;
}

.admin-logon-panel {
    /*padding-top: 1rem; */
}

@media (min-width: 767px) {
    .admin-logon-panel {
        /*padding-top: 4rem;*/
    }
}



/* Homepage VCP Slider */
#home-page .category .tab-content .tab-pane .vehicle-list .vehicle .border-top {
    /* border-top: #fff 5px solid; */
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

#home-page .category .tab-content .tab-pane .vehicle-list .vehicle .name {
    text-align: center;
    font-size: 20px;
}

#category-tabs > li {
    margin-bottom: 0px;
}

#category-tabs {
    border-bottom: none;
    -webkit-box-shadow: 0 2px 1px rgba(0,0,0,0.25);
    -moz-box-shadow: 0 2px 1px rgba(0,0,0,0.25);
    box-shadow: 0 2px 1px rgba(0,0,0,0.25);
}

#home-page .category .nav-tabs > li > a:hover {
    transition: all .1s ease 0s;
    -webkit-box-shadow: 0 0 1px 0 rgba(0,0,0,.3), 0 0 2px 0 rgba(0,0,0,.2), 0 0 3px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 1px 0 rgba(0,0,0,.3),0 0 2px 0 rgba(0,0,0,.2),0 0 3px 0 rgba(0,0,0,.1);
    box-shadow: 0 0 1px 0 rgba(0,0,0,.3), 0 0 2px 0 rgba(0,0,0,.2), 0 0 3px 0 rgba(0,0,0,.1);
}

#home-page .category .nav-tabs > li.active > a {
    transition: all .1s ease 0s;
    -webkit-box-shadow: 0 0 1px 0 rgba(0,0,0,.3), 0 0 2px 0 rgba(0,0,0,.2), 0 0 3px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 1px 0 rgba(0,0,0,.3),0 0 2px 0 rgba(0,0,0,.2),0 0 3px 0 rgba(0,0,0,.1);
    box-shadow: 0 0 1px 0 rgba(0,0,0,.3), 0 0 2px 0 rgba(0,0,0,.2), 0 0 3px 0 rgba(0,0,0,.1);
}


/* Adjusting VCP Slider */
#home-page .category .tab-content .tab-pane .vehicle-list .vehicle {
    background: #fff;
    padding: 0 3rem;
}

    #home-page .category .tab-content .tab-pane .vehicle-list .vehicle .vehicImg {
        min-height: initial;
    }

        #home-page .category .tab-content .tab-pane .vehicle-list .vehicle .vehicImg img {
            max-width: 100%;
        }

#home-page .category .tab-content .tab-pane .vehicle-list .vehicle {
    padding: 10px 1% 10px;
}


/* Adjusting VCP Slider for viewports */
@media only screen and (min-width: 1400px) {
    #home-page .category .tab-content .tab-pane .vehicle-list .vehicle {
        width: 16%;
    }
}

@media only screen and (min-width:610px) and (max-width: 1400px) {
    #home-page .category .tab-content .tab-pane .vehicle-list .vehicle {
        width: 33%;
    }
}

/* Search Bar Spacing */
.main-search-container {
    margin-top: 15px auto;
}

/* Blog normalization */
.iron-blog-wrap {
    clear: both;
    color: #333;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0 0 10px 0;
    width: 100%;
}

.iron-blog-full-image, .iron-blog-container {
    margin: 0;
    padding: 0;
    width: 100%;
}

.iron-blog-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: .01em;
    margin: 10px 0 20px .5em;
}

.iron-blog-h2 {
    font-size: 28px;
    font-weight: bold;
    line-height: 1.15;
    margin: 0 5px;
    padding: 0;
}

.iron-blog-ul-20 {
    list-style: none;
    margin: 20px;
}

.blo-h3-li {
    font-size: 20px;
    line-height: 1.15;
    margin: 0 5px;
    padding: 0;
}

.iron-blog-div-secondary-cta {
    background: #333;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    height: 45px;
    line-height: 45px;
    margin-bottom: -8px;
    margin-top: -8px;
    text-align: center;
    width: 100%;
}

#iron-blog-premium-title {
    padding-top: 40px;
}

.iron-blog-section-title {
    background: #efefef;
    border: 1px solid #ccc;
    margin: 15px;
    padding: 5px;
}

.iron-blog-spacer {
    clear: both;
    height: 40px;
}

#iron-blog-comparison-title {
    text-align: center;
}


/* Blog Comparison Page Styling */
.savvy-compare-heading {
    background-color: #F0F0F0;
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.00, #D8D8D8), color-stop(1.00, #F2F2F2) );
    margin: 16px 0;
    box-shadow: inset 0 0 8px rgba(65, 64, 66, 0.16);
    color: #4E4F50;
    font-family: Arial, Helvetica, sans-serif;
}

    .savvy-compare-heading h2 {
        line-height: 1.25;
    }

#blog-detail {
    padding-top: 0;
    margin-top: 0;
}

/* Used Blog Page Styling */
.used-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: .01em;
    margin: 10px .5em 20px .5em;
}

.used-generation-label {
    font-size: 24px;
    padding-right: 3rem;
}

.used-year-range {
    font-size: 24px;
    padding-left: 3rem;
}

.used-gen-content-row, .used-summary-block {
    margin-bottom: 5rem;
}

.used-gen-img {
    width: 100%;
    padding: 16px;
}

.used-main-title {
  margin-top: 0;
  text-align: center;
}

#blog-page .blog-category .search {
    margin-top: 30px;
}

#conditionalProgramTitle, #cashProgramContent, #aprProgramTitle li.row-fluid {
    display: list-item;
    content: normal;
    list-style-type: none !important;
}

.incentive-detail-title, .incentive-detail-amount {
    font-weight: 700;
}

.cash-disclaimer {
    font-weight: 400;
    font-size: .7em;
}

#rebateControl .offer-cards {
    padding-top: 15px;
}

#ucRebate {
    min-width: 230px;
    /*max-height: 100%;*/
}

/* Privacy policy page formatting, and footer correction*/
.privacy-disclaimer > li {
    font-weight: bold;
    padding: 5px 0;
}

.disclaimer-section > li {
    padding: 5px 0;
}

footer .row {
    padding: 0px;
}
