﻿/* Move down content because we have a fixed navbar that is 50px tall */
body {
    /*padding-top: 50px;*/
    padding-top: 5px !important;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"],
input[type="email"] {
    max-width: 280px;
}

/**This is for showing dropdown menu on mouse hover **/
.sidebar-nav {
    padding: 9px 0 !important;
}

.dropdown-menu .sub-menu {
    left: 100% !important;
    position: absolute !important;
    top: 0 !important;
    visibility: hidden !important;
    margin-top: -1px !important;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible !important;
}

.dropdown:hover .dropdown-menu {
    display: block !important;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0 !important;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent !important;
    border-left: none !important;
    border-right: 7px solid rgba(0, 0, 0, 0.2) !important;
    border-top: 7px solid transparent !important;
    left: -7px !important;
    top: 10px !important;
}

.navbar .sub-menu:after {
    border-top: 6px solid transparent !important;
    border-left: none !important;
    border-right: 6px solid #fff !important;
    border-bottom: 6px solid transparent !important;
    left: 10px !important;
    top: 11px !important;
    left: -6px !important;
}

/**End this is for showing dropdown menu on mouse hover **/

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}

.navbar-collapse .navbar-nav.navbar-right:last-child {
    margin-right: -80px;
}

.list-user {
    padding-left: 0px;
    padding-right: 0px;
}

.user {
    padding-right: 5px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #ddd;
}

    .user a {
        list-style: none;
        text-decoration: none;
        cursor: pointer;
    }

.chatwindow {
    overflow-y: scroll;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #ddd;
    min-height: 250px;
}

.chatprivatetwindow {
    overflow-y: scroll;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #ddd;
    height: 200px;
}

#MainContent_imageofgas {
    height: 40px;
    width: 30px;
    margin-left: -3px;
}
/*Service Page*/

/*Service*/

#services-page {
    max-width: 900px;
}

    #services-page .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        padding-right: 5px !important;
        padding-left: 5px !important;
    }

    #services-page .svc_header {
        margin-top: 5px;
        padding-top: 2px;
        padding-bottom: 50px;
        border-radius: 10px;
        vertical-align: middle;
        border: 1px solid #ddd;
        height: 110px;
    }

        #services-page .svc_header h5 {
            display: block;
            text-align: center;
            padding: -2px 0 5px 0;
        }

        #services-page .svc_header img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            padding-top: -5px;
            width: 60px;
            height: 50px;
        }

    #services-page .svc_item {
        margin: 5px 0 0 0;
        padding: 5px 10px 5px 0;
        border-radius: 10px;
        vertical-align: middle;
        border: 1px solid #ddd !important;
    }

    #services-page .svc_item_side {
        width: 160px;
        height: auto;
        float: left;
    }

        #services-page .svc_item_side img {
            width: 140px;
            height: 130px;
            padding-left: 10px;
        }

    #services-page .svc_item_main {
        max-width: 410px;
        padding-left: 10px;
        padding-top: 0 !important;
        height: auto;
        float: left;
    }

    #services-page .hour1 {
        width: 80px;
        text-align: right;
    }

    #services-page .hour2 {
        width: 60px;
        text-align: right;
    }

    #services-page #map-canvas {
        width: 280px;
        height: 200px;
    }

/*End*/

/*Staff Page*/
#staff {
    max-width: 900px;
}

    #staff .nav-tabs {
        border: none 0px;
    }

        #staff .nav-tabs > li {
            background-color: #000000;
            border-radius: 5px 5px 0px 0px;
            margin-left: 10px;
            min-height: 35px;
            width: 260px;
            text-align: center;
        }

            #staff .nav-tabs > li a {
                color: #ffffff;
                font-weight: bold;
                font-size: 11px;
            }

            #staff .nav-tabs > li div a {
                color: #ffffff;
            }

            #staff .nav-tabs > li.active {
                background-color: transparent;
                border: 1px solid #ddd;
                border-bottom: none 0px;
            }

                #staff .nav-tabs > li.active a {
                    color: #778899;
                    border: none 0px;
                }

                    #staff .nav-tabs > li.active a:hover {
                        border: none 0px;
                        background-color: transparent;
                    }

            #staff .nav-tabs > li:hover div a {
                color: #000000;
            }

            #staff .nav-tabs > li:hover {
                border: solid 1px #000000;
                background-color: #ffffff;
                text-decoration: none;
                color: #000000;
                border-radius: 5px 5px 0px 0px;
                border-bottom: none 0px;
            }

                #staff .nav-tabs > li:hover.active {
                    border: 1px solid #ddd;
                    border-bottom: none 0px;
                }

            #staff .nav-tabs > li a:hover {
                border: none 0px;
                background-color: transparent;
                text-decoration: none;
                color: #000000;
            }

    #staff .tab-content {
        padding: 15px;
    }

        #staff .tab-content .staff {
            width: 265px;
            min-height: 155px;
            border-radius: 5px;
            background-color: #f5f5f5;
            padding: 18px 10px 10px 10px;
            float: left;
            margin: 0px 20px 10px 0px;
            border: solid 1px #dddddd;
        }

            #staff .tab-content .staff .col-lg-5, .col-lg-6 {
                padding: 0px;
                margin: 0px;
            }

            #staff .tab-content .staff .avata {
                width: 100px;
                height: 125px;
                border-radius: 5px;
            }

            #staff .tab-content .staff .none-avata {
                width: 104px;
                height: 104px;
                background-image: url(Images/Staff/none-avata.png);
                border-radius: 5px;
            }

            #staff .tab-content .staff .name {
                font-size: 17px;
                font-weight: bold;
            }

            #staff .tab-content .staff .role {
                font-size: 12px;
            }

            #staff .tab-content .staff .mail {
                width: 24px;
                height: 24px;
                border-radius: 5px;
            }

#editStaff .form-group {
    height: 35px;
    line-height: 35px;
}

    #editStaff .form-group .col-sm-2 {
        text-align: right;
    }

    #editStaff .form-group .col-sm-10 {
        text-align: left;
    }
/*End*/

/*Appointment Page*/
#appointment {
    max-width: 900px;
}

    #appointment .header h1 {
        text-transform: uppercase;
        font-size: 22px;
    }

    #appointment .header .row {
        margin: 0px;
    }

    #appointment .header .info {
        font-size: 12px;
    }

    #appointment .header .intro {
        font-size: 15px;
        margin-top: 20px;
    }

    #appointment .iframe {
        margin-top: 10px;
    }

        #appointment .iframe .row {
            margin: 0px;
        }

        #appointment .iframe .nav {
            border: solid 1px #ebebeb;
            line-height: 40px;
            background-color: #fcfcfc;
        }

            #appointment .iframe .nav li {
                width: 200px;
                height: 40px;
                font-weight: bold;
                color: #393a3a;
                margin-left: 0px;
            }

                #appointment .iframe .nav li img {
                    margin: 0px 10px;
                }

            #appointment .iframe .nav > li.arrow-right {
                width: 18px;
                height: 40px;
                background-image: url(Images/arrow.png);
            }

            #appointment .iframe .nav > li.active {
                background-color: #636363;
                color: #ffffff;
            }

            #appointment .iframe .nav > li.arrow-right-active {
                width: 0;
                height: 0;
                border-top: 20px solid transparent;
                border-bottom: 20px solid transparent;
                border-left: 10px solid #636363;
            }

        #appointment .iframe .advisor {
            width: 870px;
            height: 180px;
            border: solid 1px #ebebeb;
            margin-top: 15px;
            border-top: solid 3px #f3b900;
        }

            #appointment .iframe .advisor .title {
                font-size: 18px;
                padding: 5px 10px;
                font-weight: bold;
            }

            #appointment .iframe .advisor hr {
                margin: 0px 10px;
            }

            #appointment .iframe .advisor .advisor-list {
                width: 420px;
                height: 145px;
                margin-left: auto;
                margin-right: auto;
            }

            #appointment .iframe .advisor .advior-avata {
                width: 130px;
                height: 86px;
                border: solid 2px #ebebeb;
                border-radius: 5px;
                float: left;
                margin-left: 10px;
                margin-top: 20px;
                padding: 5px;
                text-align: center;
                color: #a5a4a4;
            }

                #appointment .iframe .advisor .advior-avata .col-sm-2, .col-sm-8 {
                    padding: 0px;
                    margin: 0px;
                }

                #appointment .iframe .advisor .advior-avata.active {
                    border: solid 2px #bfd56b;
                    background-color: #dfeab1;
                    color: #4f4f4d;
                }

                #appointment .iframe .advisor .advior-avata p.name {
                    font-size: 12px;
                    margin-top: 5px;
                }

        #appointment .iframe .select-date-time {
            width: 870px;
            min-height: 400px;
            border: solid 1px #ebebeb;
            margin-top: 15px;
            border-top: solid 3px #f3b900;
        }

            #appointment .iframe .select-date-time .title {
                font-size: 18px;
                padding: 5px 10px;
                font-weight: bold;
            }

            #appointment .iframe .select-date-time hr {
                margin: 0px 10px 10px;
            }

            #appointment .iframe .select-date-time .inform {
                border: solid 2px #b8ddf0;
                background-color: #e2f0f7;
                height: 40px;
                line-height: 35px;
                margin: 0 10px;
                font-weight: bold;
                color: #3d8db9;
                padding: 0px 5px;
            }

            #appointment .iframe .select-date-time .next-five-day {
                text-align: right;
                margin: 20px 40px 0px 0px;
            }

                #appointment .iframe .select-date-time .next-five-day > a {
                    color: #f2b400;
                }

            #appointment .iframe .select-date-time .col-md-9, .col-md-3 {
                margin: 0px;
            }

            #appointment .iframe .select-date-time .col-md-9 {
                padding: 0px 0px 0px 5px;
            }

            #appointment .iframe .select-date-time .col-md-3.day-of-week {
                padding: 0px;
                width: 20%;
            }

            #appointment .iframe .select-date-time .day-of-week {
                font-size: 12px;
            }

                #appointment .iframe .select-date-time .day-of-week .date-time .title {
                    text-align: center;
                    padding: 0px;
                    font-size: 11px;
                }

                    #appointment .iframe .select-date-time .day-of-week .date-time .title p {
                        text-transform: uppercase;
                        margin: 0px;
                        font-size: 12px;
                    }

        #appointment .iframe .hours-of-operation {
            height: 250px;
            width: 280px;
            border: solid 2px #cbcbcb;
            background-color: #dadada;
            margin-top: 15px;
            border-radius: 5px;
            padding: 15px;
        }

            #appointment .iframe .hours-of-operation .nav {
                background-color: transparent;
            }

            #appointment .iframe .hours-of-operation .nav-tabs {
                border: none 0px;
                border-bottom: solid 1px #c0c0c0;
            }

                #appointment .iframe .hours-of-operation .nav-tabs > li {
                    background-color: #333333;
                    border-radius: 5px 5px 0px 0px;
                    margin: 0px 5px 0px 0px;
                    height: 30px;
                    width: 70px;
                    text-align: center;
                }

                    #appointment .iframe .hours-of-operation .nav-tabs > li a {
                        color: #fefefd;
                        font-weight: bold;
                        font-size: 11px;
                        background-color: transparent;
                    }

                    #appointment .iframe .hours-of-operation .nav-tabs > li.active {
                        background-color: #7f7f7f;
                    }

                        #appointment .iframe .hours-of-operation .nav-tabs > li.active a {
                            border: none 0px;
                            background-color: transparent;
                        }

                            #appointment .iframe .hours-of-operation .nav-tabs > li.active a:hover {
                                border: none 0px;
                                background-color: transparent;
                            }

                    #appointment .iframe .hours-of-operation .nav-tabs > li:hover {
                        background-color: #7f7f7f;
                        text-decoration: none;
                        border-radius: 5px 5px 0px 0px;
                        border-bottom: none 0px;
                    }

                    #appointment .iframe .hours-of-operation .nav-tabs > li a:hover {
                        border: none 0px;
                        background-color: transparent;
                        text-decoration: none;
                    }

            #appointment .iframe .hours-of-operation hr {
                margin: 0px;
                border-color: #c0c0c0;
            }

            #appointment .iframe .hours-of-operation .col-md-6 {
                margin: 0px;
                padding: 0px;
            }
/*End*/

/*Parts Page*/
#parts {
    max-width: 900px;
}

    #parts .header h1 {
        text-transform: uppercase;
        font-size: 22px;
    }

    #parts .header .row {
        margin: 0px;
    }

    #parts .header .info {
        font-size: 12px;
    }

    #parts .iframe {
        margin-top: 10px;
    }

        #parts .iframe .row {
            margin: 0px;
        }

        #parts .iframe .search {
            background-color: #e2e2e2;
            border-radius: 20px;
            min-height: 40px;
            line-height: 40px;
        }

            #parts .iframe .search .text-search {
                height: 25px;
                border-radius: 20px;
                margin-top: 8px;
                margin-left: 100px;
                font-style: italic;
                border: 2px solid #ccc;
            }

            #parts .iframe .search .col-md-2, .col-md-10 {
                padding: 0px;
            }

            #parts .iframe .search .col-md-2 {
                text-align: left;
            }

        #parts .iframe .info {
            margin-top: 10px;
            font-size: 13px;
            height: 170px;
        }

        #parts .iframe .parts-list .title {
            font-size: 25px;
            color: #ffffff;
            height: 50px;
            background: linear-gradient(to top, #c9c8c9, #ffffff);
            padding: 10px;
            line-height: 30px;
            font-weight: 900;
        }

        #parts .iframe .parts-list .product {
            width: 275px;
            float: left;
            margin-right: 5px;
        }

            #parts .iframe .parts-list .product .name {
                font-weight: 900;
                font-size: 18px;
                color: #989897;
            }

            #parts .iframe .parts-list .product .col-md-5, .col-md-6 {
                margin: 0px;
                padding: 0px;
            }

            #parts .iframe .parts-list .product a {
                color: #1e1efd;
                text-decoration: none;
            }

#footersection li {
    list-style-type: none;
    color: #999;
}
/*End*/

/*Vehicle Page*/

/*Display*/
#vehicle-display {
    max-width: 900px;
}

    #vehicle-display #header {
        min-height: 255px !important;
        background-size: cover !important;
    }

        #vehicle-display #header .row {
            margin: 0px;
        }

        #vehicle-display #header .left {
            float: left;
            width: 245px;
        }

            #vehicle-display #header .left .col-lg-7 {
                padding: 0px;
                margin-left: 10px;
            }

            #vehicle-display #header .left .logo {
                width: 80px;
            }

            #vehicle-display #header .left .panel {
                margin-bottom: 0px;
                margin-top: 5px;
            }

                #vehicle-display #header .left .panel .panel-body {
                    padding: 5px;
                    font-size: 11px;
                }

            #vehicle-display #header .left .fuel .panel {
                margin: 0px;
                text-align: center;
            }

                #vehicle-display #header .left .fuel .panel .panel-body {
                    padding: 5px;
                    font-size: 11px;
                    font-weight: bold;
                }

            #vehicle-display #header .left .fuel .text {
                font-weight: bold;
                font-size: 21px;
            }

        #vehicle-display #header .midle {
            float: left;
            width: 380px;
            text-align: center;
            margin-bottom: 5px;
        }

            #vehicle-display #header .midle img {
                height: 214px;
            }

            #vehicle-display #header .midle .btn {
                font-weight: bold;
            }

        #vehicle-display #header .right {
            float: left;
            width: 240px;
            margin-left: 5px;
        }

            #vehicle-display #header .right .livechat {
                height: 30px;
                background-color: transparent;
                width: 240px;
                text-align: center;
            }

                #vehicle-display #header .right .livechat .btnlivechat {
                    width: 100%;
                    height: 25px;
                    line-height: 5px;
                    font-size: 12px;
                    font-weight: bold;
                }

            #vehicle-display #header .right .info {
                height: 210px;
                background-color: #f5f5f5;
                width: 240px;
            }

                #vehicle-display #header .right .info .col-sm-5, .col-sm-6 {
                    padding: 0px;
                }

                #vehicle-display #header .right .info .price {
                    padding: 5px 10px;
                }

                #vehicle-display #header .right .info span {
                    font-size: 10px;
                    color: #000000;
                    font-weight: bold;
                }

                #vehicle-display #header .right .info .yousave {
                    background-color: #ededed;
                    height: 20px;
                    line-height: 18px;
                    padding: 0px 10px;
                }

                    #vehicle-display #header .right .info .yousave span {
                        font-size: 11px;
                        font-weight: bolder;
                        color: #0654a6;
                    }

                #vehicle-display #header .right .info .note {
                    font-size: 10px;
                    padding: 0px 10px;
                }

                #vehicle-display #header .right .info .btnmenu {
                    width: 230px;
                    margin: 5px 5px 0 5px;
                    height: 25px;
                    border-radius: 5px;
                    background-color: #f86401;
                    padding: 0px;
                }

                #vehicle-display #header .right .info .btnmenu2 {
                    width: 230px;
                    margin: 5px 5px 0 5px;
                    height: 20px;
                    border-radius: 5px;
                    background-color: #428bca;
                    font-size: 10px;
                    padding: 0px;
                }

    #vehicle-display #content {
        min-height: 1220px;
    }

        #vehicle-display #content .row {
            margin: 0px;
        }

        #vehicle-display #content .leftInfo {
            min-height: 915px;
            width: 640px;
            float: left;
            margin-top: 20px;
        }

            #vehicle-display #content .leftInfo .images .product {
                width: 75px;
                height: 55px;
                border: solid 2px #dbdbdb;
                padding: 5px;
                margin-left: 5px;
                float: left;
            }

                #vehicle-display #content .leftInfo .images .product img {
                    width: 60px;
                    height: 40px;
                }

            #vehicle-display #content .leftInfo .info-product {
                background-color: #d5d5d5;
                height: 500px;
                margin-top: 5px;
            }

                #vehicle-display #content .leftInfo .info-product .menu-option {
                    height: 50px;
                    padding-top: 5px;
                    padding-left: 5px;
                }

                    #vehicle-display #content .leftInfo .info-product .menu-option li {
                        width: 150px;
                        height: 30px;
                        text-align: center;
                        background-color: #c9c9c9;
                        margin-left: 5px;
                        line-height: 30px;
                    }

                    #vehicle-display #content .leftInfo .info-product .menu-option > li > a {
                        padding: 0px;
                        border-radius: 0px !important;
                    }

                    #vehicle-display #content .leftInfo .info-product .menu-option li a {
                        color: #707070;
                        font-size: 11px;
                        font-weight: bold;
                    }

                        #vehicle-display #content .leftInfo .info-product .menu-option li a:hover {
                            border-radius: 0px !important;
                        }

                    #vehicle-display #content .leftInfo .info-product .menu-option li.active:after {
                        border-color: #7b93a9 transparent transparent;
                        border-style: solid;
                        border-width: 6px 6px 0;
                        content: " ";
                        display: block;
                        height: 0;
                        margin: 0 auto;
                        position: relative;
                        width: 0;
                        z-index: 99;
                    }

                    #vehicle-display #content .leftInfo .info-product .menu-option li.active > a {
                        background-color: #7b93a9;
                        color: #dbdcdb;
                    }

                        #vehicle-display #content .leftInfo .info-product .menu-option li.active > a:hover {
                            border-radius: 0px !important;
                        }

                #vehicle-display #content .leftInfo .info-product .tab-pane {
                    padding: 0px 10px;
                    color: #707070;
                    font-size: 11px;
                }

                    #vehicle-display #content .leftInfo .info-product .tab-pane p {
                        margin: 0px;
                        font-weight: bold;
                        padding-left: 15px;
                    }

            #vehicle-display #content .leftInfo .relatedProduct {
                margin: 5px 5px 0 5px;
                width: 630px;
                min-height: 355px;
            }

                #vehicle-display #content .leftInfo .relatedProduct .productlist {
                    min-height: 330px;
                    background-color: #f5f5f5;
                    padding: 10px;
                    font-size: 11px;
                }

                    #vehicle-display #content .leftInfo .relatedProduct .productlist .product {
                        width: 185px;
                        min-height: 300px;
                        border: solid 1px #e4e4e4;
                        padding: 6px;
                        float: left;
                        margin-right: 25px;
                    }

                        #vehicle-display #content .leftInfo .relatedProduct .productlist .product img {
                            width: 170px;
                            height: 125px;
                        }

                        #vehicle-display #content .leftInfo .relatedProduct .productlist .product p {
                            margin: 0px;
                        }

                        #vehicle-display #content .leftInfo .relatedProduct .productlist .product .name {
                            font-size: 13px;
                            font-weight: bold;
                        }

                        #vehicle-display #content .leftInfo .relatedProduct .productlist .product .price {
                            font-size: 12px;
                            font-weight: bold;
                            color: #0252a4;
                        }

                        #vehicle-display #content .leftInfo .relatedProduct .productlist .product .btn {
                            height: 25px;
                            width: 50px;
                            line-height: 25px;
                            padding: 0px;
                            font-size: 11px;
                        }

                            #vehicle-display #content .leftInfo .relatedProduct .productlist .product .btn.btn-primary {
                                background-color: #003f7a;
                            }

        #vehicle-display #content .rightInfo {
            width: 225px;
            background-color: #ffffff;
            float: left;
            margin-top: 10px;
            font-size: 12px;
            min-height: 915px;
        }

            #vehicle-display #content .rightInfo p {
                color: #000000;
                font-size: 18px;
                font-weight: bold;
            }

            #vehicle-display #content .rightInfo .col-lg-7, .col-lg-5, .col-lg-4, .col-lg-8 {
                padding: 0 !important;
            }

            #vehicle-display #content .rightInfo .col-lg-5 {
                text-align: right;
            }

            #vehicle-display #content .rightInfo .divider {
                border: solid 1.5px #dbdbdb;
                margin: 9px 0px;
            }

            #vehicle-display #content .rightInfo .interested {
                margin-top: 10px;
            }

                #vehicle-display #content .rightInfo .interested .info {
                    height: 300px;
                    background-color: #ededed;
                    padding: 7px;
                }

                    #vehicle-display #content .rightInfo .interested .info .form-group {
                        margin-bottom: 5px;
                    }

                    #vehicle-display #content .rightInfo .interested .info .form-control {
                        height: 20px;
                        line-height: 10px;
                        font-size: 11px;
                        padding: 5px;
                    }

                        #vehicle-display #content .rightInfo .interested .info .form-control.comment {
                            height: 40px;
                            line-height: 5px;
                        }

                    #vehicle-display #content .rightInfo .interested .info .radio-list {
                        font-size: 10px;
                    }

                        #vehicle-display #content .rightInfo .interested .info .radio-list .radio {
                            margin: 0px;
                            min-height: 15px;
                            line-height: 15px;
                        }

                            #vehicle-display #content .rightInfo .interested .info .radio-list .radio input[type="radio"] {
                                margin-top: 2px;
                            }

                    #vehicle-display #content .rightInfo .interested .info .form-group .btn {
                        height: 20px;
                        width: 45px;
                        line-height: 20px;
                        padding: 0px;
                        font-size: 10px;
                    }

                        #vehicle-display #content .rightInfo .interested .info .form-group .btn.btn-primary {
                            background-color: #003f7a;
                        }

        #vehicle-display #content .recentView {
            margin: 5px 10px 0px 10px;
        }

            #vehicle-display #content .recentView .productlist {
                min-height: 235px;
                background-color: #f5f5f5;
                padding: 5px 30px;
            }

                #vehicle-display #content .recentView .productlist .product:last-child {
                    margin-right: 0px;
                }

                #vehicle-display #content .recentView .productlist .product {
                    width: 135px;
                    min-height: 220px;
                    border: solid 1px #e4e4e4;
                    padding: 7px;
                    float: left;
                    margin-right: 25px;
                    font-size: 9px;
                    margin-bottom: 5px;
                }

                    #vehicle-display #content .recentView .productlist .product .col-lg-7 {
                        padding: 0px;
                    }

                    #vehicle-display #content .recentView .productlist .product img {
                        width: 120px;
                        height: 90px;
                    }

                    #vehicle-display #content .recentView .productlist .product p {
                        margin: 0px;
                    }

                    #vehicle-display #content .recentView .productlist .product .name {
                        font-size: 11px;
                        font-weight: bold;
                    }

                    #vehicle-display #content .recentView .productlist .product .price {
                        font-size: 10px;
                        font-weight: bold;
                        color: #0252a4;
                    }

                    #vehicle-display #content .recentView .productlist .product .btn {
                        height: 20px;
                        width: 45px;
                        line-height: 20px;
                        padding: 0px;
                        font-size: 10px;
                    }

                        #vehicle-display #content .recentView .productlist .product .btn.btn-primary {
                            background-color: #003f7a;
                        }

/*Content*/
#vehicle-content {
    max-width: 900px;
}

    #vehicle-content .row {
        margin: 0px;
    }

    #vehicle-content .car-configurator {
        float: left;
        width: 725px;
        height: 420px;
    }

    #vehicle-content .configurator {
        height: 292px;
    }

    #vehicle-content .right-menu {
        float: left;
        width: 145px;
        height: 420px;
    }

        #vehicle-content .right-menu .nav {
            text-align: center;
        }

            #vehicle-content .right-menu .nav > li > a {
                background-color: #c8c8c8;
                color: #454545;
                font-weight: bold;
            }

            #vehicle-content .right-menu .nav > li.active > a {
                background-color: #ffd992;
            }


/*End*/
.navbar-fixed-top {
    right: 0;
    left: 0;
    border-width: 0 0 1px;
    position: inherit;
}

.phone {
    float: right;
    clear: right;
    font-size: 24px;
    color: #222;
    font-weight: normal;
    text-transform: uppercase;
}

.address {
    float: right;
}
/*About Us Page*/
#about-us-page {
    margin-top: 25px;
}

    #about-us-page .row {
        margin: 0px;
    }

    #about-us-page .title {
        font-size: 20px;
        color: #0368CC;
        margin-bottom: 10px;
        margin-top: 0px;
        margin-left: 15px;
    }

    #about-us-page .custompage {
        padding: 0 10px 0px 25px;
    }

    #about-us-page .sidebar {
        padding: 0px 15px;
        font-size: 12px;
    }

        #about-us-page .sidebar .header {
            color: #666;
            border-bottom: 1px solid #bbb;
            font-weight: bold;
            padding-bottom: 8px;
            margin: 0 0 12px;
            font-size: 17px;
            text-align: center;
            text-transform: uppercase;
        }

        #about-us-page .sidebar .title {
            font-size: 14px;
            margin: 1em 0;
            text-transform: uppercase;
            color: #666;
            border: none;
            font-weight: bold;
        }

        #about-us-page .sidebar .buttons {
            margin-top: 10px;
        }

            #about-us-page .sidebar .buttons .btn {
                width: 166px;
                color: #FFF;
                margin-bottom: 5px;
            }

/*End*/
