﻿.button {
    background-color: transparent;
    font-weight: bold;
    font-size: 11px;
}

.button-black {
    border: solid 2px #000000;
    color: #000000;
}

.button-gray {
    border: solid 2px #b6b6b6;
    color: #afafaf;
}

.button-25 {
    width: 60px;
    height: 25px;
}

.title {
    background-color: #cccccc;
    color: #484848;
    font-size: 15px;
    font-weight: bold;
    padding-left: 10px;
}

.title-35 {
    height: 35px;
    line-height: 35px;
}

.title-30 {
    height: 30px;
    line-height: 30px;
}
.button-black {
    border: solid 2px #000000;
    color: #000000;
}

.button-gray {
    border: solid 2px #b6b6b6;
    color: #afafaf;
}

.button-25 {
    width: 60px;
    height: 25px;
}

.title {
    background-color: #cccccc;
    color: #484848;
    font-size: 15px;
    font-weight: bold;
    padding-left: 10px;
}

.title-35 {
    height: 35px;
    line-height: 35px;
}

.title-30 {
    height: 30px;
    line-height: 30px;
}

.title-30 {
    height: 30px;
    line-height: 30px;
}
.button-black {
    border: solid 2px #000000;
    color: #000000;
}

.button-gray {
    border: solid 2px #b6b6b6;
    color: #afafaf;
}

.button-25 {
    width: 60px;
    height: 25px;
}

.title {
    background-color: #cccccc;
    color: #484848;
    font-size: 15px;
    font-weight: bold;
    padding-left: 10px;
}

.title-35 {
    height: 35px;
    line-height: 35px;
}

.title-30 {
    height: 30px;
    line-height: 30px;
}

.title-30 {
    height: 30px;
    line-height: 30px;
}
.button-black {
    border: solid 2px #000000;
    color: #000000;
}

.button-gray {
    border: solid 2px #b6b6b6;
    color: #afafaf;
}

.button-25 {
    width: 60px;
    height: 25px;
}

.title {
    background-color: #cccccc;
    color: #484848;
    font-size: 15px;
    font-weight: bold;
    padding-left: 10px;
}

.title-35 {
    height: 35px;
    line-height: 35px;
}

.title-30 {
    height: 30px;
    line-height: 30px;
}

.chkBox label {
    padding-left: 10px;
    color: GrayText;
    font-size: .95em;
}

input.checkboxes {
    padding-left: 10px;
    color: GrayText;
    font-size: .95em;
}

.chkBox input {
    padding-left: 15px;
}

.centerContent {
    margin-left: 20%;
}

.leftContent {
    margin-left: 10px;
}

.accordion {
    cursor: pointer;
}

.modal {
    /*display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: black;
    z-index: 100;
    opacity: 0.8;
    filter: alpha(opacity=60);
    -moz-opacity: 0.8;
    min-height: 100%;*/
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

.modal-content {
    border-radius: 0px !important;
    border: none !important;
    border-bottom: 1px solid #999;
}

.modal-body {
    max-height: 100%;
    position: relative;
    overflow-y: auto;
    padding: 0;
    background-color: #fff;
    height: auto;
    max-height: 600px;
    /*border: 1px solid rgba(0, 0, 0, .2);*/
}

#viewCompleteOffer {
    cursor: pointer;
}

@media screen and (max-width: 1920px) {
    .modal-body {
        float: none;
        overflow-y: auto;
        height: auto;
        max-height: 600px;
    }

        .modal-body::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            border-radius: 10px;
            background-color: #F5F5F5;
        }

        .modal-body::-webkit-scrollbar {
            width: 12px;
            background-color: #F5F5F5;
        }

        .modal-body::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            background-color: #555;
        }
}


.modal-footer {
    background-color: #fff;
    border-top: 1px solid #e5e5e5;
}

#divImage {
    display: none;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    background-color: White;
    height: 550px;
    width: 600px;
    padding: 3px;
    border: solid 1px black;
}

