<template>
  <div id="app">
    <VehicleImageManger msg="Vehicle Image Manager App"/>
  </div>
</template>

<script>
    import VehicleImageManger from './components/VehicleImageManager.vue'

export default {
  name: 'App',
  components: {
      VehicleImageManger
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
