﻿<template>
    <div class="container">
        <loading :active.sync="isLoading"
                 :loader="dots"
                 :is-full-page="false"></loading>
        <h1>{{ msg }}</h1>
        <div class="mt-2">
            <div v-if="vinAndStocks && vinAndStocks.length > 0">
                <v-select class="vue-select1" name="select1" :options="vinAndStocks" placeholder="Type VIN Or Stock #" @input="getImageListForVinOrStock">
                </v-select>
            </div>
        </div>
        <div v-if="selectedVehicle">
            <div class="row mt-2 mr-1">
                <div>
                    <button type="button" class="btn btn-danger pull-right ml-1">Delete All</button>
                    <button type="button" class="btn btn-success pull-right" @click="showDropZone=!showDropZone">{{showDropZone ? 'Hide': 'Add New'}}</button>
                </div>
            </div>
            <div v-if="showDropZone" class="mt-2">
                <h5 class="pull-right text-danger">*We found Existing {{currentVehicleImageList.length}} Images for current VIN.</h5>
                <div>
                    <vue-dropzone id="dropzone"
                                  :options="dropzoneOptions" ref="fileDropzone"
                                  @vdropzone-sending="dropzoneSendingEvent"
                                  @vdropzone-queue-complete="uploadCompleted"></vue-dropzone>
                </div>
            </div>
            <div class="row" v-if="currentVehicleImageList && currentVehicleImageList.length > 0">
                <div class="col-sm-2 mt-2" v-for="(image, index) of currentVehicleImageList" :key="image.AgileVehicleImageID">
                    <div class="ImageContainer">
                        <img :src="'https://bobweaver.blob.core.windows.net/images/'+image.RelativeUrl" class="image" />
                        <div class="home">
                            <button type="button" title="Make this image as Main." @click="markAsMain(image.AgileVehicleImageID)"><i class='fa fa-home'></i></button>
                        </div>
                        <div class="delete">
                            <button type="button" title="Delete Image" @click="deleteImage(image.AgileVehicleImageID)"><i class='fa fa-trash'></i></button>
                        </div>
                        <div class="counter">
                            <div class="text">{{index+1}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div v-if="!currentVehicleImageList || currentVehicleImageList.length <= 0">
                <h5 class="pull-right text-danger">*We didn't found any Images for current VIN.</h5>
            </div>
        </div>
    </div>
</template>

<script>
    import vSelect from 'vue-select'
    import Loading from 'vue-loading-overlay';
    import vue2Dropzone from 'vue2-dropzone'
    import 'vue-select/dist/vue-select.css';
    import 'vue2-dropzone/dist/vue2Dropzone.min.css'
    import 'vue-loading-overlay/dist/vue-loading.css';

    export default {
        name: 'VehicleImageManger',
        components: {
            'v-select': vSelect,
            vueDropzone: vue2Dropzone,
            Loading
        },
        props: {
            msg: String
        },
        data: function () {
            return {
                isLoading: false,
                result1: '',
                baseUri: '',
                showDropZone: false,
                vinAndStocks: [],
                currentVehicleImageList: [],
                selectedVehicle: undefined,
                dropzoneOptions: {
                    url: '/Controllers/VehicleImageManager.ashx?method=UploadImages',
                    thumbnailWidth: 150,
                    maxFilesize: 0.5,
                    acceptedFiles: 'image/*',
                    dictDefaultMessage: "<i class='fa fa-cloud-upload'></i> Drag & Drop Files Here",
                    headers: { "Header": "header value" }
                }
            }
        },
        methods: {
            fetchVinAndStockNumber: function () {
                const baseURI = this.baseUri + '/Controllers/VehicleImageManager.ashx?method=GetVinAndStockNumbers';
                this.isLoading = true;
                this.$http.get(baseURI)
                    .then((result) => {
                        const self = this;
                        this.handleResponse(result, function () { self.vinAndStocks = result.data.Data; });
                    }).finally(() => this.isLoading = false)
            },
            getImageListForVinOrStock: function (value) {
                this.selectedVehicle = undefined;
                this.currentVehicleImageList = [];
                if (value) {
                    const vinNumber = value.split('-')[0].trim();
                    this.selectedVehicle = vinNumber;
                    this.getImageListForSelectedVin();
                }
            },
            getImageListForSelectedVin: function () {
                const baseURI = this.baseUri + '/Controllers/VehicleImageManager.ashx?method=GetImageList&vin=' + vinNumber;
                this.isLoading = true;
                this.$http.get(baseURI)
                    .then((result) => {
                        const self = this;
                        this.handleResponse(result, function () { self.currentVehicleImageList = result.data.Data });
                    }).finally(() => this.isLoading = false)
            },
            reloadImages: function () {
                this.getImageListForSelectedVin();
            },
            dropzoneSendingEvent: function (file, xhr, formData) {
                formData.append('vin', this.selectedVehicle);
            },
            uploadCompleted: function () {
                this.getImageListForSelectedVin();
            },
            deleteImage: function (agileVehicleImageId) {
                if (agileVehicleImageId >= 0) {
                    const url = this.baseUri + '/Controllers/VehicleImageManager.ashx?method=DeleteImage&imageId=' + agileVehicleImageId;
                    this.$http.get(url).then((result) => {
                        const self = this;
                        this.handleResponse(result, function () { self.reloadImages(); alert('Image(s) Removed.') });
                    });
                }
            },
            deleteAllImages: function () {
                var response = confirm('Delete All Existing Image');
                if (response) {
                    const url = this.baseUri + '/Controllers/VehicleImageManager.ashx?method=DeleteImages&vin=' + this.selectedVehicle;
                    this.$http.get(url).then((result) => {
                        const self = this;
                        this.handleResponse(result, function () { self.reloadImages(); alert('All Images Removed.') });
                    });
                }
            },
            markAsMain: function (agileVehicleImageId) {
                if (agileVehicleImageId >= 0) {
                    const url = this.baseUri + '/Controllers/VehicleImageManager.ashx?method=MarkImageAsMain&imageId=' + agileVehicleImageId;
                    this.$http.get(url).then((result) => {
                        const self = this;
                        this.handleResponse(result, function () { self.reloadImages(); alert('Image Marked.') });
                    });
                }
            },
            handleResponse: function (result, callBack) {
                if (result && result.data) {
                    if (result.data.IsSuccess) {
                        callBack();
                    }
                    else if (result.data.ErrorMessages) {
                        result.data.ErrorMessages.forEach(x => {
                            console.warn(x);
                        });
                    }
                }
            }
        },
        mounted() {
            this.baseUri = document.getElementById('absoluteUri').value;
            this.fetchVinAndStockNumber();
        }
    }
</script>

<style scoped>
    .mt-2 {
        margin-top: 20px;
    }

    .mr-1 {
        margin-right: 1px;
    }

    .ml-1 {
        margin-left: 10px;
    }

    .ImageContainer {
        position: relative;
        width: 120px;
        height: 90px;
    }

    .image {
        height: 90px;
        width: 120px;
        opacity: 1;
        transition: .5s ease;
        backface-visibility: hidden;
    }

    .delete {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 0%;
        left: 100%;
        transform: translate(-100%, 0%);
        -ms-transform: translate(-100%, 0%);
        text-align: center;
    }

    .home {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 0%;
        left: 0%;
        transform: translate(0%, 0%);
        -ms-transform: translate(0%, 0%);
        text-align: center;
    }

    .counter {
        transition: .5s ease;
        opacity: 1;
        position: absolute;
        top: 100%;
        left: 00%;
        transform: translate(0%, -100%);
        -ms-transform: translate(0%, -100%);
        text-align: center;
    }

    .ImageContainer:hover .image {
        opacity: 0.3;
    }

    .ImageContainer:hover .delete {
        opacity: 1;
    }

    .ImageContainer:hover .home {
        opacity: 1;
    }

    .text {
        background-color: black;
        color: white;
        font-size: 10px;
        padding: 4px;
    }
</style>