﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Special.aspx.cs" MasterPageFile="~/Site.Master" Inherits="CJI.AgileDealer.Web.WebForm.Views.Special.Special" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
    <div class="container">
        <h1>Special Page</h1>
    </div>
</asp:Content>
