@media screen and (min-width: 1200px) {
.container {
	width: 1180px;
}
}
 @media screen and (max-width: 1300px) {
.sliderbrand {
	padding: 0px 50px;
}
.ourBrand .owl-prev {
	left: -40px;
}
.ourBrand .owl-next {
	right: -40px;
}
}
 @media screen and (max-width: 1199px) {
ul.list-swcar li p {
	font-size: 12px;
}
.swstyle {
	min-height: 100px;
}
}
 @media screen and (max-width: 991px) {
.navmenu ul li a {
	font-size: 12px;
	padding: 10px 8px;
}
.txt-mdle h1 {
	font-size: 34px;
	line-height: 47px;
	margin: 0px 0px 15px 0px;
}
ul.list-swcar li {
	width: 20%;
}
.searchvicle .form-control {
	height: 45px;
	font-size: 14px;
}
.btnAccess {
	height: 45px;
}
}
 @media screen and (min-width: 768px) {
.arrowbtn{ display:none} 
ul.submenu {
    background-color: #fff;
    border-top: 0px;
    top: 100%;
	padding:0px;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    z-index: 99999;
    width: 100%;
    min-width: 192px;
	-moz-box-shadow:0 6px 12px rgba(0,0,0,.175);
	-webkit-box-shadow:0 6px 12px rgba(0,0,0,.175);
	box-shadow:0 6px 12px rgba(0,0,0,.175);
    -moz-transition: opacity 0.6s cubic-bezier(0.22, 0.61, 0.36, 1) 0s;
    -webkit-transition: opacity 0.6s cubic-bezier(0.22, 0.61, 0.36, 1) 0s;
    transition: opacity 0.6s cubic-bezier(0.22, 0.61, 0.36, 1) 0s;
}

.navmenu ul li:hover .submenu {
    opacity: 1;
    visibility: visible;
}	 
	 
	 
.sticky .hdrrLeft ul li + li:before, .sticky .hdrrLeft ul li a {
	color: #fff
}
.sticky header {
	background: rgba(0, 0, 0, 0.80);
}
.sticky .menuIcn, .overlay, .closeIcn {
	display: none
}
.menuIcn {
	display: none;
}
}
 @media screen and (max-width: 767px) {
p {
	font-size: 14px;
}
.hdrRight {
	margin-left: 5px;
}
header {
	position: static;
}
.headertop {
	padding: 10px 0px;
}
.hdrLogo {
	width: 150px;
}
.hdrightInr {
	margin-bottom: 0px;
}
.slide-txt {
    margin-top: 0px;
}
.openmenu .navmenu {
	left: 0;
}
.navmenu, .closeIcn {
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	-ms-transition: all 300ms;
	transition: all 300ms;
}
.navmenu {
	background:#2a78a6;
	bottom: 0;
	box-shadow: 0 0 15px #222;
	left: -250px;
	margin: 0;
	max-height: 100%;
	overflow: auto;
	position: fixed;
	text-align: left;
	top: 0;
	width: 250px;
	z-index: 55;
}
.navmenu ul li.active .arrowbtn img {
    transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}
.openmenu .closeIcn {
	left: 260px;
}
.openmenu .overlay {
	opacity: 1;
	visibility: visible;
}
.navmenu ul li {
	display: block;
	border-bottom: 1px solid #2e8ac1;
}
.navmenu ul li:last-child{
	border-bottom: none;
}
.navmenu ul li a {
	color: #fff;

}
.hdrRight p {
	display: none;
}
.toplist {
	margin:15px;
}
.btntop {
	margin-top: 0px;
	margin-right: 45px;
}
ul.list-swcar li {
	width: 25%
}
.textSingle h2 {
	font-size: 18px
}
.titlesame h2 {
	font-size: 24px;
}
.dealerships {
	padding: 30px 0px;
}
.ourBrand:before {
	display: none;
}
.btnRead {
	min-width: inherit;
	padding: 10px 7px;
	font-size: 14px;
}
.titlesame {
	margin-bottom: 10px
}
.dealerships p {
	margin-bottom: 20px
}
.maintenance-blok {
	padding: 10px 0px;
}
.videoMain {
	display: block;
	margin: 0 auto 30px auto;
	max-width: 357px;
}
.swopeSingle {
	text-align: center;
	min-height: inherit;
}
.swopeSingle h4 {
	margin: 15px 0px;
}
.ftrSingle {
	text-align: center;
	margin-bottom: 15px;
}
.addftr {
	display: block;
	width: 100%;
	max-width: 243px;
	margin: 0 auto 15px auto;
}
.ftrlogo {
	margin-bottom: 25px;
}
.fmid {
	margin-top: 10px;
	padding: 10px 0px;
}

ul.submenu{ display:none; background-color:#1d5c82;}
.navmenu ul li a i{ display:none;}
.arrowbtn {
    background: #ddd;
    height: 20px;
	line-height:20px;
    position: absolute;
    right: 13px;
    top: 10px;
    width: 20px;
    z-index: 5;
    cursor: pointer;
    text-align: center;
}


}
 @media screen and (max-width: 600px) {
.shopby .nav-tabs>li>a {
	padding: 18px 14px;
	font-size: 14px;
}
ul.list-swcar li {
	width: 50%;
}
.btntop a {
	padding: 10px 10px;
	font-size: 11px;
}
.hdrLogo {
	width: 115px;
}
.txt-mdle h1 {
	font-size: 15px;
	line-height: 25px;
	margin: 0px 0px 10px 0px;
}
}
 @media screen and (max-width: 392px) {
 	.shopby .nav-tabs{
 		margin-left: -15px;
    	margin-right: -15px;
 	}
.swstyle {
	min-height: 122px;
}
.shopby .nav-tabs>li {
	width: 100%;
}
}