﻿@charset 'utf-8';
/* CSS Document */
body {
	color: #000;
	font-size: 16px;
	margin: 0px;
	padding: 0px;
	font-family: 'GothamBook';
}
@font-face {
	font-family: 'GothamBook';
	src: url('../Content/fonts/GothamBook/GothamBook.eot');
	src: local('../Content/fonts/GothamBook/GothamBook'),  url('../Content/fonts/GothamBook/GothamBook.woff') format('woff'),  url('../Content/fonts/GothamBook/GothamBook.ttf') format('truetype');
}
@font-face {
	font-family: 'poppinsregular';
	src: url('../Content/fonts/poppins-regular/poppins-regular-webfont.woff2') format('woff2'), url('../Content/fonts/poppins-regular/poppins-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'poppinsbold';
	src: url('../Content/fonts/poppins-bold/poppins-bold-webfont.woff2') format('woff2'), url('../Content/fonts/poppins-bold/poppins-bold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'poppinssemibold';
	src: url('../Content/fonts/poppins-semibold/poppins-semibold-webfont.woff2') format('woff2'), url('../Content/fonts/poppins-semibold/poppins-semibold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'poppinsmedium';
	src: url('../Content/fonts/poppins-medium/poppins-medium-webfont.woff2') format('woff2'), url('../Content/fonts/poppins-medium/poppins-medium-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'poppinsthin';
	src: url('../Content/fonts/poppins-thin/poppins-thin-webfont.woff2') format('woff2'), url('../Content/fonts/poppins-thin/poppins-thin-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'poppinslight';
	src: url('../Content/fonts/poppins-light/poppins-light-webfont.woff2') format('woff2'), url('../Content/fonts/poppins-light/poppins-light-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
a:focus {
	outline: none !important;
	text-decoration: none;
}
a:focus, a:hover {
	text-decoration: none;
	color: #28b1ff;
}
p {
	margin-bottom: 0px;
	line-height: 24px;
	color: #000;
	font-size: 17px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	margin: 0px;
}
h1, h2 {
	font-family: 'poppinssemibold';
}
.h2, h2 {
	font-size: 24px;
}
a, input, .btn, button {
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	-ms-transition: all 300ms;
	transition: all 300ms;
}
img {
	max-width: 100%;
}
header {
	left: 0;
	position: absolute;
	right: 0;
	top: 0px;
	width: 100%;
	z-index: 3;
}
img {
	max-width: 100%;
}
.hdrLogo {
	float: left;
}
.headertop {
	background-color: rgba(0, 0, 0, 0.64);
	padding: 20px 0px;
}
.hdrRight {
	margin-left: 250px;
	text-align: right;
}
.hdrightInr {
	margin-bottom: 15px;
}
.btntop a {
	font-size: 16px;
	background-color: #fbc300;
	color: #000;
	padding: 10px 20px;
	display: block;
	font-family: 'poppinssemibold';
}
.btntop a:hover {
	background-color: #ff8d28;
	color: #fff;
}
ul.listInfo li {
	display: inline-block;
	vertical-align: middle;
}
ul.listInfo li + li {
	padding-left: 28px;
}
ul.listInfo li a {
	font-size: 13px;
	color: #28b1ff;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-family: 'poppinsmedium';
}
ul.listInfo li img {
	margin-right: 5px;
	position: relative;
    top: -3px;
}
.hdrRight p {
	color: #fff;
	font-family: 'poppinslight';
	font-size: 14px;
	position: relative;
	display: inline-block;
}
.hdrRight p:before {
	position: absolute;
	content: "";
	background: url(/images/location.png) no-repeat top left;
	width: 10px;
	height: 17px;
	left: -30px;
	top: 3px;
}
.closeIcn {
	color: #fff;
	cursor: pointer;
	font-size: 33px;
	font-weight: 300;
	left: -50px;
	position: fixed;
	top: 7px;
	z-index: 55;
}
.menuIcn {
	color: #fff;
	font-size: 24px;
	padding: 0 7px;
	position: absolute;
	right: 10px;
	top: 10px;
	cursor: pointer;
}
.overlay {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.85);
	bottom: 0;
	left: 0;
	opacity: 0;
	position: fixed;
	right: 0;
	top: 0;
	visibility: hidden;
	z-index: 50;
}
/*Slider css start*/

.navMain {
	background-color: #2a78a6;
	text-align: center;
}
.navmenu ul > li {
	display: inline-block;
	vertical-align: middle;
	position:relative;
}
.navmenu ul > li a {
	color: #fff;
	display: block;
	font-size: 15px;
	text-transform: uppercase;
	padding: 5px 13px;
	letter-spacing: 2px;
	font-family: 'poppinsmedium';
	padding: 10px 13px;
}
    .navmenu ul > li a:hover {
        background: #ff8d28;
        color: #fff;
    }


ul.submenu > li a {
    padding:10px 13px;
    display: block;
    color: #000;
    font-size: 13px;
    text-align: left;
}

.navmenu ul > li i{
	width: 8px;
	height: 10px;
	display: inline-block;
	background: url('/images/arrow-dwn.png') no-repeat center;
}

.navmenu ul > li:hover i{
	background: url('/images/arrow-dwnh.png') no-repeat center;
}

.navmenu ul > li:hover > a {
    background: #ff8d28;
    color: #000;
}


ul.submenu > li { display:block;}


.navmenu ul li a img {
	margin-top: -5px;
	position: relative;
}
.btntop {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	margin-top: -25px;
}
.toplist {
	display: inline-block;
	vertical-align: middle;
	margin-left: 45px;
}
.bnrimg img {
	width: 100%;
}
.bannerMain {
	position: relative;
}
.bannerSingle {
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	z-index: 1;
	text-align: left;
    background: rgba(0,0,0,0.25);
}
.bannerMain .container-fluid {
	height: 100%;
}
.bnrTxt {
	display: table;
	height: 100%;
	position: relative;
	width: 100%;
}
.txt-mdle {
	color: #fff;
	display: table-cell;
	vertical-align: middle;
}
.slide-txt {
	max-width: 600px;
	margin-top: 200px;
}
.simple-slider {
    background:#485052;
}
.w-100 {
    width: 100%;
}
.txt-mdle h1 {
	margin: 0px 0px 25px 0px;
	font-size: 40px;
	line-height: 50px;
}
.txt-mdle span {
	display: block;
}
.searchvicle {
	position: relative;
}
.searchvicle .form-control {
	padding: 6px 80px 6px 50px;
	height: 50px;
	border-radius: 0px;
	border: 1px solid #fff;
	font-family: 'poppinsregular';
	font-size: 20px;
	text-transform: uppercase;
	background-color: #fff;
	background-image: url(/images/search.png);
	background-repeat: no-repeat;
	background-position: center left;
}
.btnAccess {
	position: absolute;
	font-size: 14px;
	background-color: #ff8d28;
	border: 1px solid #ff8d28;
	background-image: url(/images/arrow-submit.png);
	background-repeat: no-repeat;
	background-position: center center;
	color: #fff;
	text-transform: uppercase;
	outline: none;
	right: 0;
	top: 0;
	padding: 10px 35px;
	height: 50px;
	border-radius: 0px;
}
.titlesame {
	padding: 0px 15px;
	text-align: center;
	margin-bottom: 70px;
}
.titlesame h2 {
	font-size: 46px;
	color: #2a78a6;
	text-transform: uppercase;
	padding-bottom: 30px;
}
.titlesame p {
	font-size: 21px;
}
.dealerships {
	padding: 90px 0px 320px 0px;
	background-image: url(/images/dealershipbg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	width: 100%;
	position: relative;
}
.SwopeAbout {
	width: 100%;
}
.SwopeAbout:after {
	display: block;
	content: "";
	clear: both;
}
.videoMain {
	background-color: #fff;
	padding: 7px;
	-moz-box-shadow: 0px 10px 54px rgba(0, 0, 0, 0.50);
	-webkit-box-shadow: 0px 10px 54px rgba(0, 0, 0, 0.50);
	box-shadow: 0px 10px 54px rgba(0, 0, 0, 0.50);
}
.dealerships p {
	margin-bottom: 35px;
}
.shopby .nav-tabs>li {
	margin-bottom: 0px;
}
.shopby .nav-tabs>li>a {
	padding:24px 50px 15px 50px;
	margin: 0px;
	font-family: 'poppinsmedium';
	border-radius: 0px;
	font-size: 18px;
	text-transform: uppercase;
	background-color: #2a78a6;
	border: none;
	color: #fff;
}

.shopMain{
	overflow: hidden;
}

.shopby .nav-tabs{
	position: relative;
}

ul.nav.nav-tabs::before {
    background: #2a78a6;
    width: 9999999px;
    height: 64px;
    position: absolute;
    left: -9999px;
    content: "";
}

.shopby .nav-tabs>li:first-child{
	 
	position: relative;
}


.shopby .nav-tabs>li>a .fa{ margin-left: 10px; font-weight: bold; }
.shopby .nav-tabs>li.active .fa {
	-moz-transform: rotate(90deg);
	-wet-transform: rotate(90deg);
    transform: rotate(90deg);
}

.shopby .nav-tabs {
	border-bottom: none;
	background-color: #2a78a6;
	margin-bottom: 23px;
}
.shopby .nav-tabs>li.active>a, .shopby .nav-tabs>li.active>a:focus, .shopby .nav-tabs>li.active>a:hover {
	color: #178fc1;
	background-color: #fff;
	border: none;
}
.shopby .nav-tabs>li.active::before {
	position: absolute;
	content: "";
	width: 999999px;
	height: 7px;
	background-color: #ff8d28;
	top: 0px;
	right: 0px;
	z-index:4;
}

.shopby .nav-tabs>li a{
	position: relative;
	z-index: 3;
}
.shopby .nav-tabs>li.active::after {
	position: absolute;
	content: "";
	width: 999999px;
	height: 100%;
	background-color: #fff;
	top: 0px;
	right: 0px;
	z-index: 1;
}





.shopby .nav-tabs>li:nth-child(2).active::before {
	right: auto;
	left: 0;
}

.shopby .nav-tabs>li:nth-child(2).active::after {
	right: auto;
	left: 0;
}









ul.list-swcar {
	display: block;
}

.relstSrch {
    margin: 0px -7px;
}

ul.list-swcar:after {
	display: block;
	content: "";
	clear: both;
}
ul.list-swcar li {
	float: left;
	width: 12.5%;
	padding: 7px;
	text-align: center;
}
ul.list-swcar li a{ display: block; }
ul.list-swcar li p {
	font-size: 14px;
	line-height: 1.2;
	color: #9c9c9c;
	text-transform: uppercase;
	font-family: 'poppinsmedium';
}
.swstyle {
	border: 1px solid #bfbfbf;
	padding: 10px 15px;
	border-radius: 10px;
	min-height: 115px;
}

.swstyle img { 
	margin: 10px 0px;
	-moz-filter:grayscale(100%);
	-webkit-filter:grayscale(100%);
filter:grayscale(100%); 
}

ul.list-swcar li:hover img{ filter: grayscale(0); }
ul.list-swcar li:hover p { color: #333333; }



.shopMain {
	padding-bottom: 25px;
	-moz-box-shadow: 0px 10px 55px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0px 10px 55px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 10px 55px rgba(0, 0, 0, 0.25);
	position: relative;
	background-color: #fff;
	z-index: 1;
}
.readbtn {
	text-align: center;
}
.btnRead {
	background-color: #ff8d28;
	min-width: 315px;
	font-size: 18px;
	color: #fff;
	padding: 18px 10px;
	text-transform: uppercase;
	display: inline-block;
}
.btnRead:hover {
	background-color: #188db7;
	color: #fff;
}
.ourBrand {
	padding: 40px 0px;
}
.logobrnd {
	text-align: center;
}
.ourBrand {
	position: relative;
}
.ourBrand:before {
	position: absolute;
	content: "";
	left: 0px;
	right: 0px;
	top: -150px;
	background-image: url(/images/delershipafter.png);
	background-repeat: no-repeat;
	width: 100%;
	background-size: cover;
	height: 150px;
	background-position: center center;
}
.ourBrand .owl-carousel .owl-dots.disabled, .ourBrand .owl-carousel .owl-nav.disabled {
	display: block;
}
.ourBrand .owl-nav {
	position: absolute;
	top: 50%;
	width: 100%;
	margin-top: -15px;
}
.ourBrand .owl-prev, .ourBrand .owl-next {
	font-size: 0px;
	position: absolute;
	width: 35px;
	height: 35px;
	line-height: 35px;
}
.ourBrand .owl-prev {
	left: -70px;
}
.ourBrand .owl-next {
	right: -70px;
}
.ourBrand .owl-prev:before, .ourBrand .owl-next:before {
	position: absolute;
	content: "";
	width: 35px;
	height: 35px;
	background-color: red;
}
.ourBrand .owl-prev:before {
	background: url(/images/pre.png) no-repeat center center;
}
.ourBrand .owl-next:before {
	background: url(/images/next.png) no-repeat center center;
}
.ourBrand .owl-carousel .owl-item img {
	width: auto
}
.logobrnd img {
	-moz-object-fit: contain;
	-webkit-object-fit: contain;
	-o-object-fit: contain;
	object-fit: contain;
}
.guaranteed {
	position: relative;
	background: url(/images/guaranteed-bg.jpg) no-repeat center center;
	background-size: cover;
	width: 100%;
}
.guaranteed:before {
	position: absolute;
	content: "";
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	background: rgba(8, 103, 169, 0.90);
}
.guaranteed-logo {
	background: rgba(0, 0, 0, 0.53);
	padding: 20px 0px;
	position: relative;
}
.bloksingle {
	max-width: 660px;
	margin: 0 auto;
	position: relative;
}
.textSingle {
	padding-left: 28px;
	color: #fff;
}
.textSingle h2 {
	font-size: 27px;
}
.grntlogo, .textSingle {
	display: table-cell;
	vertical-align: middle;
}
.maintenance-blok {
	padding: 40px 0px;
}
.swopeSingle {
	color: #fff;
	min-height: 175px;
	margin: 25px 0px;
}
.swopeSingle h4 {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
	margin: 25px 0px;
	letter-spacing: 1px;
}
.swopeSingle p {
	color: #fff;
}
footer {
	background-color: #282828;
	padding-top: 65px;
	color: #fff;
}
footer p {
	color: #fff;
	font-size: 14px;
}
.addftr {
	display: inline-block;
	width: 100%;
	margin-bottom: 25px;
}
.addIocn {
	float: left;
	width: 25px;
}
.contRigt {
	margin-left: 35px;
}
.contRigt span {
	display: block;
}

.ftrlogo {
    text-align: center;
}
.ftrlogo a{ display: block; }
.nmber p {
	letter-spacing: 1px;
	color: #28b1ff;
}
.ftrSingle ul li a {
	font-size: 13px;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 1px;
}
.ftrSingle ul li a:hover {
	color: #28b1ff;
	padding-left: 5px;
}
.ftrSingle ul li + li {
	padding-top: 15px;
}
.ftrSingle ul li .fa.fa-facebook,
.ftrSingle ul li .fa.fa-instagram,
.ftrSingle ul li .fa.fa-google-plus
 {
	font-size: 28px;
	color: #3c5a99;
}
.fmid {
	padding: 20px 0px;
	text-align: center;
	border-top: 1px solid #3e3e3e;
	margin-top: 50px;
}
.fmid p {
	font-size: 13px;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.20);
}









/*header annimated css*/

 @keyframes topToBtm {
 from {
transform: translateY(-100%)
}
to {
	transform: translateY(0)
}
}
@-webkit-keyframes topToBtm {
 from {
-webkit-transform: translateY(-100%)
}
to {
	-webkit-transform: translateY(0)
}
}
@-moz-keyframes topToBtm {
 from {
-moz-transform: translateY(-100%)
}
to {
	-moz-transform: translateY(0)
}
}